.theme-blue {
  --background: var(--color-amber-50);
  --primary: var(--color-blue-600);
  --primary-foreground: var(--color-blue-50);

  @variant dark {
    --primary: var(--color-blue-600);
    --primary-foreground: var(--color-blue-100);
  }
}
