.theme-neutral {
  --primary: var(--color-neutral-800);
  --primary-foreground: var(--color-neutral-50);

  @variant dark {
    --primary: var(--color-neutral-100);
    --primary-foreground: var(--color-neutral-800);
  }
}
