.theme-nova {
  --primary: var(--color-blue-700) !important;
  --primary-foreground: var(--color-blue-50) !important;

  @variant dark {
    --primary: var(--color-blue-700) !important;
    --primary-foreground: var(--color-blue-50) !important;
  }

  .x-alert-dialog-content {
    @apply bg-background gap-4 rounded-xl border p-6 shadow-lg ring-4 ring-white/40 dark:ring-black/40;
  }

  .x-alert-dialog-header {
    @apply gap-2;
  }

  .x-alert-dialog-title {
    @apply text-sm font-medium;
  }

  .x-alert-dialog-description {
    @apply text-muted-foreground text-sm;
  }

  .x-button {
    @apply rounded-lg border border-transparent text-sm inset-shadow-2xs inset-shadow-white/25 [&_svg:not([class*='size-'])]:size-4;

    &[data-variant="default"] {
      @apply text-primary-foreground bg-linear-to-b from-[color-mix(in_oklch,var(--primary)_85%,var(--background))] to-(--primary) hover:bg-linear-to-t;
    }

    &[data-variant="outline"] {
      @apply border-border bg-linear-to-b from-[color-mix(in_oklch,var(--accent)_25%,var(--background))] to-(--accent) shadow-none hover:bg-linear-to-t;
    }

    &[data-variant="secondary"] {
      @apply bg-secondary text-secondary-foreground hover:bg-secondary/80;
    }

    &[data-variant="ghost"] {
      @apply hover:bg-accent hover:text-accent-foreground dark:hover:bg-accent/50;
    }

    &[data-variant="destructive"] {
      @apply bg-linear-to-b from-[color-mix(in_oklch,var(--destructive)_85%,var(--background))] to-(--destructive) text-white hover:bg-linear-to-t;
    }

    &[data-variant="link"] {
      @apply text-primary underline-offset-4 hover:underline;
    }

    &[data-size="sm"] {
      @apply h-7 gap-1 px-2.5 has-[>svg]:px-2.5;
    }

    &[data-size="default"] {
      @apply h-8 gap-1.5 px-3 has-[>svg]:px-2.5;
    }

    &[data-size="lg"] {
      @apply h-9 gap-2 px-4 has-[>svg]:px-3;
    }

    &[data-size="icon-sm"] {
      @apply size-7;
    }

    &[data-size="icon"] {
      @apply size-8;
    }

    &[data-size="icon-lg"] {
      @apply size-9;
    }
  }

  .x-input {
    @apply bg-input/30 h-8 rounded-lg px-2.5 text-base transition-colors file:h-7 file:text-sm file:font-medium md:text-sm;
  }

  .x-textarea {
    @apply bg-input/30 rounded-lg px-3 py-2 text-base transition-colors md:text-sm;
  }
}

/*
.x-alert-dialog-overlay {
  @apply bg-black/50! duration-100!;
}

.x-alert-dialog-content {
  @apply bg-popover! border-border/40! rounded-xl! p-6! shadow-lg! ring-4 ring-white/40 duration-100! dark:ring-black/40;
}

.x-checkbox {
  --from: color-mix(in oklch, var(--primary) 85%, white);
  --to: var(--primary);
  @apply data-[state=checked]:bg-linear-to-b data-[state=checked]:from-(--from) data-[state=checked]:to-(--to);
}

.x-dropdown-menu-content,
.x-dropdown-menu-sub-content {
  @apply border-border/40 rounded-xl! border! p-1.5! shadow-2xl!;
}

.x-dropdown-menu-label {
  @apply text-muted-foreground! px-3! py-1.5! text-sm! font-normal!;
}

.x-dropdown-menu-item,
.x-dropdown-menu-sub-trigger,
.x-dropdown-menu-checkbox-item,
.x-dropdown-menu-radio-item {
  @apply gap-3! rounded-lg! px-3! py-2.5! text-sm!;
}

.x-dropdown-menu-radio-item {
  @apply pl-8!;
}

.x-dropdown-menu-separator {
  @apply bg-border/80! -mx-1.5! my-1.5!;
}


.x-textarea,
.x-select-trigger,
.x-input-group {
  @apply bg-input/30! border-transparent! shadow-none!;
}

.x-input-group-input {
  @apply bg-transparent!;
}

.x-input-group-textarea {
  @apply bg-transparent!;
}

.x-slider {
  @apply rounded-full data-[orientation=horizontal]:h-3 data-[orientation=vertical]:w-3;
}

.x-slider-thumb {
  @apply h-6 w-2;
}

.x-popover-content {
  @apply border-border/40 rounded-2xl border p-4 shadow-2xl;
}

.x-select-content {
  @apply rounded-xl! border! shadow-2xl!;
}

.x-select-label {
  @apply px-3! text-sm! font-normal!;
}

.x-select-item {
  @apply rounded-lg! px-2.5! py-2.5! text-sm!;
}

.x-popover-content {
  @apply border-border/40! rounded-2xl! border! shadow-2xl!;
}

.x-radio-group-item {
  @apply data-[state=checked]:border-primary! data-[state=checked]:bg-primary!;
}

.x-radio-group-indicator-icon {
  @apply size-2.5! fill-white!;
} */
