---
import Layout from "@/layouts/main.astro"
---

<Layout>
  <div class="flex min-h-svh p-6">
    <div class="max-w-md text-sm leading-loose">
      <h1 class="font-medium">Project ready!</h1>
      <p>You may now add components and start building.</p>
      <a
        href="https://ui.shadcn.com/docs/new"
        target="_blank"
        rel="noopener noreferrer"
        class="mt-2 inline-flex text-primary underline underline-offset-4"
      >
        Read the docs
      </a>
    </div>
  </div>
</Layout>
