.theme-nova {
  --primary: var(--color-blue-700) !important;
  --primary-foreground: var(--color-blue-50);
  --spacing: 0.225rem;

  @variant dark {
    --primary: var(--color-blue-700);
    --primary-foreground: var(--color-blue-50);
  }

  [data-slot="input"],
  [data-slot="textarea"],
  [data-slot="select-trigger"],
  [data-slot="input-group"] {
    @apply bg-input/30;
  }

  [data-slot="dropdown-menu-content"] {
    @apply bg-popover text-popover-foreground data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2 border-border/40 z-50 max-h-(--radix-dropdown-menu-content-available-height) min-w-56 origin-(--radix-dropdown-menu-content-transform-origin) overflow-x-hidden overflow-y-auto rounded-xl border p-1.5 shadow-2xl;
  }

  [data-slot="dropdown-menu-item"],
  [data-slot="dropdown-menu-sub-trigger"] {
    @apply focus:bg-accent focus:text-accent-foreground data-[variant=destructive]:text-destructive data-[variant=destructive]:focus:bg-destructive/10 dark:data-[variant=destructive]:focus:bg-destructive/20 data-[variant=destructive]:focus:text-destructive data-[variant=destructive]:*:[svg]:!text-destructive relative flex cursor-default items-center gap-2.5 rounded-lg px-2.5 py-2.5 text-sm outline-hidden select-none data-[disabled]:pointer-events-none data-[disabled]:opacity-50 data-[inset]:pl-8 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4;
  }

  @layer components {
    [data-slot="button"],
    [data-slot="dropdown-menu-trigger"],
    [data-slot="popover-trigger"] {
      @apply rounded-xl inset-shadow-2xs inset-shadow-white/25 transition duration-200;
    }

    [data-slot="button"][data-variant="default"] {
      --from: color-mix(in oklch, var(--primary) 85%, white);
      --to: var(--primary);
      @apply focus:ring-primary/40 text-primary-foreground bg-linear-to-b from-(--from) to-(--to) hover:bg-linear-to-t;
    }

    [data-slot="button"][data-variant="outline"],
    [data-slot="dropdown-menu-trigger"][data-variant="outline"],
    [data-slot="popover-trigger"][data-variant="outline"] {
      --from: color-mix(in oklch, var(--accent) 25%, white);
      --to: var(--accent);
      @apply focus:ring-accent/40 text-accent-foreground bg-linear-to-b from-(--from) to-(--to) shadow-none! hover:bg-linear-to-t;
    }
  }
}
