@inherits LayoutComponentBase

<div class="relative flex min-h-screen flex-col">
    <header class="sticky top-0 z-50 w-full border-b border-border/40 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60">
        <div class="container flex h-14 max-w-screen-2xl items-center">
            <NavBar />
        </div>
    </header>
    <main class="flex-1">
        <div class="container py-6">
            @Body
        </div>
    </main>
</div>
