@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* white */
    --foreground: 222.2 47.4% 11.2%; /* slate-900 */

    --muted: 210 40% 96.1%; /* slate-100 */
    --muted-foreground: 215.4 16.3% 46.9%; /* slate-500 */

    --popover: 0 0% 100%; /* white */
    --popover-foreground: 222.2 47.4% 11.2%; /* slate-900 */

    --border: 214.3 31.8% 91.4%; /* slate-200 */
    --input: 214.3 31.8% 91.4%; /* slate-200 */

    --card: 0 0% 100%; /* white */
    --card-foreground: 222.2 47.4% 11.2%; /* slate-900 */

    --primary: 222.2 47.4% 11.2%; /* slate-900 */
    --primary-foreground: 210 40% 98%; /* slate-50 */

    --secondary: 210 40% 96.1%; /* slate-100 */
    --secondary-foreground: 222.2 47.4% 11.2%; /* slate-900 */

    --accent: 210 40% 96.1%; /* slate-100 */
    --accent-foreground: 222.2 47.4% 11.2%; /* slate-900 */

    --destructive: 0 100% 50%; /* red */
    --destructive-foreground: 210 40% 98%; /* slate-50 */

    --ring: 215 20.2% 65.1%; /* slate-400 */

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-8 h-8 bg-muted rounded-full font-medium text-center text-base inline-flex items-center justify-center -indent-px;
    @apply ml-[-41px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
