@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

/* START black hole*/
.cont-black-hole {
  position: relative;
  width: 100%;
  height: 100%;
}

.black-hole {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.black-hole-visible .black-hole-stars {
  animation: blackHoleStarsRotate 70s linear infinite;
}

/*.black-hole-visible .black-hole-stars div {
  animation: blackHoleStarsTwinkle linear infinite;
}*/

.black-hole-color {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 30%;
  left: 50%;
  border-radius: 50%;

  -webkit-transition-duration: 2s;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
}

.cont-img-black-hole-front {
  position: relative;
  width: 100px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

.img-black-hole-front {
  width: 100%;
  height: auto;
}

.img-black-hole {
  opacity: 0.5;
  filter: drop-shadow(5px 5px 5px white);
}

.black-hole-stars {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
  -webkit-mask-image: radial-gradient(
    50% 50% at 50% 50%,
    rgba(217, 217, 217, 0) 27.08%,
    #d9d9d9 47.92%,
    rgba(217, 217, 217, 0.8) 75%,
    rgba(217, 217, 217, 0) 100%
  );
  mask-image: radial-gradient(
    50% 50% at 50% 50%,
    rgba(217, 217, 217, 0) 27.08%,
    #d9d9d9 47.92%,
    rgba(217, 217, 217, 0.8) 75%,
    rgba(217, 217, 217, 0) 100%
  );
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
  -webkit-mask-size: cover;
  mask-size: cover;
  pointer-events: none;
  transform: translateZ(0) translate(-50%, -50%);
}
/*.black-hole-stars div {*/
.black-hole-stars div,
.star {
  position: absolute;
  width: 2px;
  height: 2px;
  /*left: 50%;*/
  background: rgba(255, 255, 255, 0);
  border-radius: 5px;
  transform: translateZ(0) translate(0) scale(1);
}

.black-hole-stars div:nth-child(3n) {
  opacity: 0.5;
}

@keyframes blackHoleStarsRotate {
  0% {
    transform: translateZ(0) translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translateZ(0) translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes blackHoleStarsRotateReverse {
  0% {
    transform: translateZ(0) translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translateZ(0) translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes blackHoleStarsTwinkle {
  0% {
    background: rgba(255, 255, 255, 0);
    transform: translateZ(0) translate(0) scale(1);
  }
  10% {
    background: rgb(255, 255, 255);
  }
  to {
    background: rgb(255, 255, 255);
    transform: translateZ(0) scale(0.5);
  }
}
/* END black hole*/
