.style-default {
  /* Accordion */
  .cn-accordion-item {
    @apply not-last:border-b;

    .cn-accordion-trigger {
      @apply gap-6 rounded-md py-4 text-left text-sm font-medium hover:underline;
    }

    .cn-accordion-trigger-icon {
      @apply text-muted-foreground pointer-events-none size-4 shrink-0;
    }

    .cn-accordion-content {
      @apply data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down text-sm;
    }

    .cn-accordion-content-inner {
      @apply pt-0 pb-4;
    }
  }

  /* Alert Dialog */
  .cn-alert-dialog-overlay {
    @apply data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 bg-black/50 duration-100;
  }

  .cn-alert-dialog-content {
    @apply data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 bg-background gap-4 rounded-lg border p-6 shadow-lg duration-100 data-[size=default]:max-w-xs data-[size=sm]:max-w-xs data-[size=default]:sm:max-w-lg;

    .cn-alert-dialog-header {
      @apply grid grid-rows-[auto_1fr] place-items-center gap-1.5 text-center has-data-[slot=alert-dialog-media]:grid-rows-[auto_auto_1fr] has-data-[slot=alert-dialog-media]:gap-x-6 sm:group-data-[size=default]/alert-dialog-content:place-items-start sm:group-data-[size=default]/alert-dialog-content:text-left sm:group-data-[size=default]/alert-dialog-content:has-data-[slot=alert-dialog-media]:grid-rows-[auto_1fr];
    }

    .cn-alert-dialog-media {
      @apply bg-muted mb-2 inline-flex size-16 items-center justify-center rounded-md sm:group-data-[size=default]/alert-dialog-content:row-span-2 *:[svg:not([class*='size-'])]:size-8;
    }

    .cn-alert-dialog-title {
      @apply text-lg font-medium sm:group-data-[size=default]/alert-dialog-content:group-has-data-[slot=alert-dialog-media]/alert-dialog-content:col-start-2;
    }

    .cn-alert-dialog-description {
      @apply text-muted-foreground text-sm text-balance md:text-pretty;
    }
  }

  /* Alert */
  .cn-alert {
    @apply grid gap-0.5 rounded-lg border px-4 py-3 text-left text-sm has-data-[slot=alert-action]:relative has-data-[slot=alert-action]:pr-18 has-[>svg]:grid-cols-[auto_1fr] has-[>svg]:gap-x-2.5 *:[svg]:row-span-2 *:[svg]:translate-y-0.5 *:[svg]:text-current *:[svg:not([class*='size-'])]:size-4;

    .cn-alert-title {
      @apply font-medium group-has-[>svg]/alert:col-start-2;
    }

    .cn-alert-description {
      @apply text-muted-foreground text-sm text-balance md:text-pretty;
    }

    .cn-alert-action {
      @apply absolute top-2.5 right-3;
    }

    /* Variant */
    &.cn-alert-variant-default {
      @apply bg-card text-card-foreground;
    }

    &.cn-alert-variant-destructive {
      @apply text-destructive bg-card *:data-[slot=alert-description]:text-destructive/90 *:[svg]:text-current;
    }
  }

  /* Avatar */
  .cn-avatar {
    @apply size-8 data-[size=lg]:size-10 data-[size=sm]:size-6;

    .cn-avatar-fallback {
      @apply bg-muted text-muted-foreground;
    }

    .cn-avatar-badge {
      @apply bg-primary text-primary-foreground ring-background;
    }
  }

  .cn-avatar-group-count {
    @apply bg-muted text-muted-foreground size-8 text-sm group-has-data-[size=lg]/avatar-group:size-10 group-has-data-[size=sm]/avatar-group:size-6 [&>svg]:size-4 group-has-data-[size=lg]/avatar-group:[&>svg]:size-5 group-has-data-[size=sm]/avatar-group:[&>svg]:size-3;
  }

  /* Badge */
  .cn-badge {
    @apply rounded-full border border-transparent px-2 py-0.5 text-xs font-medium;

    &.cn-badge-variant-default {
      @apply bg-primary text-primary-foreground [a]:hover:bg-primary/80;
    }

    &.cn-badge-variant-secondary {
      @apply bg-secondary text-secondary-foreground [a]:hover:bg-secondary/80;
    }

    &.cn-badge-variant-outline {
      @apply border-border text-foreground [a]:hover:bg-accent [a]:hover:text-accent-foreground;
    }

    &.cn-badge-variant-destructive {
      @apply bg-destructive [a]:hover:bg-destructive/80 focus-visible:ring-destructive/20 dark:focus-visible:ring-destructive/40 dark:bg-destructive/60 text-white;
    }

    &.cn-badge-variant-ghost {
      @apply hover:bg-accent hover:text-accent-foreground dark:hover:bg-accent/50;
    }

    &.cn-badge-variant-link {
      @apply text-primary underline-offset-4 hover:underline;
    }
  }

  /* Breadcrumb */
  .cn-breadcrumb {
    .cn-breadcrumb-list {
      @apply text-muted-foreground gap-1.5 text-sm sm:gap-2.5;
    }

    .cn-breadcrumb-item {
      @apply gap-1.5;
    }

    .cn-breadcrumb-link {
      @apply hover:text-foreground transition-colors;
    }

    .cn-breadcrumb-page {
      @apply text-foreground font-normal;
    }

    .cn-breadcrumb-separator {
      @apply [&>svg]:size-3.5;
    }

    .cn-breadcrumb-ellipsis {
      @apply size-9 [&>svg]:size-4;
    }
  }

  /* Button */
  .cn-button {
    @apply gap-2 rounded-lg border border-transparent bg-clip-padding text-sm font-medium [&_svg:not([class*='size-'])]:size-4;

    /* Variant */
    &.cn-button-variant-default {
      @apply bg-primary text-primary-foreground hover:bg-primary/80;
    }

    &.cn-button-variant-outline {
      @apply border-border bg-background hover:bg-accent hover:text-accent-foreground dark:bg-input/30 dark:border-input dark:hover:bg-input/50 shadow-xs;
    }

    &.cn-button-variant-secondary {
      @apply bg-secondary text-secondary-foreground hover:bg-secondary/80;
    }

    &.cn-button-variant-ghost {
      @apply hover:bg-accent hover:text-accent-foreground dark:hover:bg-accent/50;
    }

    &.cn-button-variant-destructive {
      @apply bg-destructive hover:bg-destructive/80 focus-visible:ring-destructive/20 dark:focus-visible:ring-destructive/40 dark:bg-destructive/60 text-white;
    }

    &.cn-button-variant-link {
      @apply text-primary underline-offset-4 hover:underline;
    }

    /* Size */
    &.cn-button-size-xs {
      @apply h-6 gap-1 rounded-md px-2 text-xs has-data-[slot=icon-inline-end]:pr-1.5 has-data-[slot=icon-inline-start]:pl-1.5 [&_svg:not([class*='size-'])]:size-3;
    }

    &.cn-button-size-sm {
      @apply h-8 gap-1 px-3 has-data-[slot=icon-inline-end]:pr-2.5 has-data-[slot=icon-inline-start]:pl-2.5;
    }

    &.cn-button-size-default {
      @apply h-9 px-4 has-data-[slot=icon-inline-end]:pr-3.5 has-data-[slot=icon-inline-start]:pl-3.5;
    }

    &.cn-button-size-lg {
      @apply h-10 px-4 has-data-[slot=icon-inline-end]:pr-3.5 has-data-[slot=icon-inline-start]:pl-3.5;
    }

    /* Icon */

    &.cn-button-size-icon-xs {
      @apply size-6 rounded-md [&_svg:not([class*='size-'])]:size-3;
    }

    &.cn-button-size-icon-sm {
      @apply size-8;
    }

    &.cn-button-size-icon {
      @apply size-9;
    }

    &.cn-button-size-icon-lg {
      @apply size-10;
    }
  }

  /* Button Group */
  .cn-button-group {
    @apply has-[>[data-slot=button-group]]:gap-2 has-[select[aria-hidden=true]:last-child]:[&>[data-slot=select-trigger]:last-of-type]:rounded-r-md;

    .cn-button-group-text {
      @apply bg-muted gap-2 rounded-md border px-4 text-sm font-medium shadow-xs [&_svg:not([class*='size-'])]:size-4;
    }

    .cn-button-group-separator {
      @apply bg-input;
    }
  }

  /* Calendar */
  .cn-calendar {
    @apply p-3 [--cell-size:--spacing(8)];
  }

  .cn-calendar-day-button {
    @apply data-[range-end=true]:rounded-md data-[range-end=true]:rounded-r-md data-[range-middle=true]:rounded-none data-[range-start=true]:rounded-md data-[range-start=true]:rounded-l-md [&>span]:text-xs [&>span]:opacity-70;
  }

  /* Card */
  .cn-card {
    @apply gap-6 rounded-xl border py-6 shadow-sm;

    .cn-card-header {
      @apply gap-2 px-6 [.border-b]:pb-6;
    }

    .cn-card-title {
      @apply leading-none font-semibold;
    }

    .cn-card-description {
      @apply text-muted-foreground text-sm;
    }

    .cn-card-content {
      @apply px-6;
    }

    .cn-card-footer {
      @apply px-6 [.border-t]:pt-6;
    }
  }

  /* Input */
  .cn-input {
    @apply dark:bg-input/30 border-input h-9 rounded-md border bg-transparent px-3 py-1 text-base shadow-xs transition-[color,box-shadow] file:h-7 file:text-sm file:font-medium md:text-sm;
  }

  /* Textarea */
  .cn-textarea {
    @apply dark:bg-input/30 border-input rounded-md border bg-transparent px-3 py-2 text-base shadow-xs transition-[color,box-shadow] md:text-sm;
  }
}
