.style-lyra {
  --text-sm: 0.75rem;

  .cn-alert-dialog-content {
    @apply bg-background gap-2 border p-4;
  }

  .cn-alert-dialog-header {
    @apply gap-1;
  }

  .cn-alert-dialog-title {
    @apply text-sm font-medium;
  }

  .cn-alert-dialog-description {
    @apply text-muted-foreground text-sm;
  }

  .cn-button {
    @apply border border-transparent text-sm [&_svg:not([class*='size-'])]:size-3.5;

    &.cn-button-variant-default {
      @apply text-primary-foreground bg-primary hover:bg-primary/90;
    }

    &.cn-button-variant-outline {
      @apply border-border bg-background hover:bg-accent hover:text-accent-foreground dark:bg-input/30 dark:border-input dark:hover:bg-input/50;
    }

    &.cn-button-variant-secondary {
      @apply bg-secondary text-secondary-foreground hover:bg-secondary/80;
    }

    &.cn-button-variant-ghost {
      @apply hover:bg-accent hover:text-accent-foreground dark:hover:bg-accent/50;
    }

    &.cn-button-variant-destructive {
      @apply bg-destructive hover:bg-destructive/90 focus-visible:ring-destructive/20 dark:focus-visible:ring-destructive/40 dark:bg-destructive/60 text-white;
    }

    &.cn-button-variant-link {
      @apply text-primary underline-offset-4 hover:underline;
    }

    &.cn-button-size-sm {
      @apply h-6 gap-1 px-2 has-[>svg:first-child]:pl-1.5 has-[>svg:last-child]:pr-1.5 [&_svg:not([class*='size-'])]:size-3;
    }

    &.cn-button-size-default {
      @apply h-7 gap-1.5 px-2 has-[>svg:first-child]:pl-1.5 has-[>svg:last-child]:pr-1.5;
    }

    &.cn-button-size-lg {
      @apply h-8 gap-1.5 px-2.5 has-[>svg:first-child]:pl-2 has-[>svg:last-child]:pr-2 [&_svg:not([class*='size-'])]:size-4;
    }

    &.cn-button-size-icon-sm {
      @apply size-6;
    }

    &.cn-button-size-icon {
      @apply size-7;
    }

    &.cn-button-size-icon-lg {
      @apply size-8;
    }
  }

  .cn-card {
    @apply border py-4;

    .cn-card-header {
      @apply gap-1 border-b px-4 pb-4;
    }

    .cn-card-content {
      @apply px-4 pt-4;
    }

    .cn-card-title {
      @apply text-sm font-medium;
    }

    .cn-card-description {
      @apply text-muted-foreground text-xs;
    }

    .cn-card-footer {
      @apply px-4 pt-4;
    }
  }

  .cn-input {
    @apply border-input h-7 border px-2 text-base md:text-sm;
  }

  .cn-textarea {
    @apply border-input border px-2 py-1.5 text-base md:text-sm;
  }
}
