.style-vega {
  /* Accordion */
  .cn-accordion-item {
    @apply not-last:border-b;

    .cn-accordion-trigger {
      @apply gap-6 rounded-md py-4 text-left text-sm font-medium hover:underline;
    }

    .cn-accordion-trigger-icon {
      @apply text-muted-foreground pointer-events-none size-4 shrink-0;
    }

    .cn-accordion-content {
      @apply data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down text-sm;
    }

    .cn-accordion-content-inner {
      @apply pt-0 pb-4;
    }
  }

  /* Alert Dialog */
  .cn-alert-dialog-overlay {
    @apply data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 bg-black/50 duration-100;
  }

  .cn-alert-dialog-content {
    @apply data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 bg-background gap-4 rounded-lg border p-6 shadow-lg duration-100 data-[size=default]:max-w-xs data-[size=sm]:max-w-xs data-[size=default]:sm:max-w-lg;

    .cn-alert-dialog-header {
      @apply grid grid-rows-[auto_1fr] place-items-center gap-1.5 text-center has-data-[slot=alert-dialog-media]:grid-rows-[auto_auto_1fr] has-data-[slot=alert-dialog-media]:gap-x-6 sm:group-data-[size=default]/alert-dialog-content:place-items-start sm:group-data-[size=default]/alert-dialog-content:text-left sm:group-data-[size=default]/alert-dialog-content:has-data-[slot=alert-dialog-media]:grid-rows-[auto_1fr];
    }

    .cn-alert-dialog-media {
      @apply bg-muted mb-2 inline-flex size-16 items-center justify-center rounded-md sm:group-data-[size=default]/alert-dialog-content:row-span-2 *:[svg:not([class*='size-'])]:size-8;
    }

    .cn-alert-dialog-title {
      @apply text-lg font-medium sm:group-data-[size=default]/alert-dialog-content:group-has-data-[slot=alert-dialog-media]/alert-dialog-content:col-start-2;
    }

    .cn-alert-dialog-description {
      @apply text-muted-foreground text-sm text-balance md:text-pretty;
    }
  }

  /* Alert */
  .cn-alert {
    @apply grid gap-0.5 rounded-lg border px-4 py-3 text-left text-sm has-data-[slot=alert-action]:relative has-data-[slot=alert-action]:pr-18 has-[>svg]:grid-cols-[auto_1fr] has-[>svg]:gap-x-2.5 *:[svg]:row-span-2 *:[svg]:translate-y-0.5 *:[svg]:text-current *:[svg:not([class*='size-'])]:size-4;

    .cn-alert-title {
      @apply font-medium group-has-[>svg]/alert:col-start-2;
    }

    .cn-alert-description {
      @apply text-muted-foreground text-sm text-balance md:text-pretty;
    }

    .cn-alert-action {
      @apply absolute top-2.5 right-3;
    }

    /* Variant */
    &.cn-alert-variant-default {
      @apply bg-card text-card-foreground;
    }

    &.cn-alert-variant-destructive {
      @apply text-destructive bg-card *:data-[slot=alert-description]:text-destructive/90 *:[svg]:text-current;
    }
  }

  /* Avatar */
  .cn-avatar {
    @apply size-8 rounded-full after:rounded-full data-[size=lg]:size-10 data-[size=sm]:size-6;

    .cn-avatar-fallback {
      @apply bg-muted text-muted-foreground rounded-full;
    }

    .cn-avatar-image {
      @apply rounded-full;
    }

    .cn-avatar-badge {
      @apply bg-primary text-primary-foreground ring-background;
    }
  }

  .cn-avatar-group-count {
    @apply bg-muted text-muted-foreground size-8 rounded-full text-sm group-has-data-[size=lg]/avatar-group:size-10 group-has-data-[size=sm]/avatar-group:size-6 [&>svg]:size-4 group-has-data-[size=lg]/avatar-group:[&>svg]:size-5 group-has-data-[size=sm]/avatar-group:[&>svg]:size-3;
  }

  /* Badge */
  .cn-badge {
    @apply rounded-full border border-transparent px-2 py-0.5 text-xs font-medium;

    &.cn-badge-variant-default {
      @apply bg-primary text-primary-foreground [a]:hover:bg-primary/80;
    }

    &.cn-badge-variant-secondary {
      @apply bg-secondary text-secondary-foreground [a]:hover:bg-secondary/80;
    }

    &.cn-badge-variant-outline {
      @apply border-border text-foreground [a]:hover:bg-accent [a]:hover:text-accent-foreground;
    }

    &.cn-badge-variant-destructive {
      @apply bg-destructive [a]:hover:bg-destructive/80 focus-visible:ring-destructive/20 dark:focus-visible:ring-destructive/40 dark:bg-destructive/60 text-white;
    }

    &.cn-badge-variant-ghost {
      @apply hover:bg-accent hover:text-accent-foreground dark:hover:bg-accent/50;
    }

    &.cn-badge-variant-link {
      @apply text-primary underline-offset-4 hover:underline;
    }
  }

  /* Breadcrumb */
  .cn-breadcrumb {
    .cn-breadcrumb-list {
      @apply text-muted-foreground gap-1.5 text-sm sm:gap-2.5;
    }

    .cn-breadcrumb-item {
      @apply gap-1.5;
    }

    .cn-breadcrumb-link {
      @apply hover:text-foreground transition-colors;
    }

    .cn-breadcrumb-page {
      @apply text-foreground font-normal;
    }

    .cn-breadcrumb-separator {
      @apply [&>svg]:size-3.5;
    }

    .cn-breadcrumb-ellipsis {
      @apply size-9 [&>svg]:size-4;
    }
  }

  /* Button */
  .cn-button {
    @apply gap-2 rounded-lg border border-transparent bg-clip-padding text-sm font-medium [&_svg:not([class*='size-'])]:size-4;

    /* Variant */
    &.cn-button-variant-default {
      @apply bg-primary text-primary-foreground hover:bg-primary/80;
    }

    &.cn-button-variant-outline {
      @apply border-border bg-background hover:bg-accent hover:text-accent-foreground dark:bg-input/30 dark:border-input dark:hover:bg-input/50 shadow-xs;
    }

    &.cn-button-variant-secondary {
      @apply bg-secondary text-secondary-foreground hover:bg-secondary/80;
    }

    &.cn-button-variant-ghost {
      @apply hover:bg-accent hover:text-accent-foreground dark:hover:bg-accent/50;
    }

    &.cn-button-variant-destructive {
      @apply bg-destructive hover:bg-destructive/80 focus-visible:ring-destructive/20 dark:focus-visible:ring-destructive/40 dark:bg-destructive/60 text-white;
    }

    &.cn-button-variant-link {
      @apply text-primary underline-offset-4 hover:underline;
    }

    /* Size */
    &.cn-button-size-xs {
      @apply h-6 gap-1 rounded-md px-2 text-xs has-data-[slot=icon-inline-end]:pr-1.5 has-data-[slot=icon-inline-start]:pl-1.5 [&_svg:not([class*='size-'])]:size-3;
    }

    &.cn-button-size-sm {
      @apply h-8 gap-1 px-3 has-data-[slot=icon-inline-end]:pr-2.5 has-data-[slot=icon-inline-start]:pl-2.5;
    }

    &.cn-button-size-default {
      @apply h-9 px-4 has-data-[slot=icon-inline-end]:pr-3.5 has-data-[slot=icon-inline-start]:pl-3.5;
    }

    &.cn-button-size-lg {
      @apply h-10 px-4 has-data-[slot=icon-inline-end]:pr-3.5 has-data-[slot=icon-inline-start]:pl-3.5;
    }

    /* Icon */
    &.cn-button-size-icon-xs {
      @apply size-6 rounded-md [&_svg:not([class*='size-'])]:size-3;
    }

    &.cn-button-size-icon-sm {
      @apply size-8;
    }

    &.cn-button-size-icon {
      @apply size-9;
    }

    &.cn-button-size-icon-lg {
      @apply size-10;
    }
  }

  /* Button Group */
  .cn-button-group {
    @apply has-[>[data-slot=button-group]]:gap-2 has-[select[aria-hidden=true]:last-child]:[&>[data-slot=select-trigger]:last-of-type]:rounded-r-md;

    .cn-button-group-text {
      @apply bg-muted gap-2 rounded-md border px-4 text-sm font-medium shadow-xs [&_svg:not([class*='size-'])]:size-4;
    }

    .cn-button-group-separator {
      @apply bg-input;
    }
  }

  /* Calendar */
  .cn-calendar {
    @apply p-3 [--cell-size:--spacing(8)];
  }

  /* Card */
  .cn-card {
    @apply bg-card text-card-foreground gap-(--padding) rounded-xl border py-(--padding) shadow-(--shadow-xs) [--padding:--spacing(6)];

    .cn-card-header {
      @apply gap-2 px-(--padding) [.border-b]:pb-(--padding);
    }

    .cn-card-title {
      @apply leading-none font-semibold;
    }

    .cn-card-description {
      @apply text-muted-foreground text-sm;
    }

    .cn-card-content {
      @apply px-(--padding);
    }

    .cn-card-footer {
      @apply px-(--padding) [.border-t]:pt-(--padding);
    }
  }

  /* Chart */
  .cn-chart-tooltip {
    @apply border-border/50 bg-background gap-1.5 rounded-lg border px-2.5 py-1.5 text-xs shadow-xl;
  }

  /* Checkbox */
  .cn-checkbox {
    @apply border-input dark:bg-input/30 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground dark:data-[state=checked]:bg-primary data-[state=checked]:border-primary aria-invalid:data-[state=checked]:border-primary aria-invalid:border-destructive size-4 rounded-[4px] border shadow-xs transition-shadow;

    .cn-checkbox-indicator {
      @apply [&>svg]:size-3.5;
    }
  }

  /* Dialog */
  .cn-dialog-overlay {
    @apply data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 bg-black/50 duration-100 dark:bg-black/80;
  }

  .cn-dialog-content {
    @apply bg-background data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 grid max-w-[calc(100%-2rem)] gap-4 rounded-lg border p-6 shadow-lg duration-100 sm:max-w-md;

    .cn-dialog-close {
      @apply absolute top-4 right-4;
    }

    .cn-dialog-header {
      @apply gap-2 text-center sm:text-left;
    }

    .cn-dialog-footer {
      @apply gap-2;
    }

    .cn-dialog-title {
      @apply text-lg leading-none font-semibold;
    }

    .cn-dialog-description {
      @apply text-muted-foreground text-sm;
    }
  }

  /* Drawer */
  .cn-drawer-overlay {
    @apply data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 bg-black/50;
  }

  .cn-drawer-content {
    @apply bg-background flex h-auto flex-col;

    &[data-vaul-drawer-direction="top"] {
      @apply inset-x-0 top-0 mb-24 max-h-[80vh] rounded-b-lg border-b;
    }

    &[data-vaul-drawer-direction="bottom"] {
      @apply inset-x-0 bottom-0 mt-24 max-h-[80vh] rounded-t-lg border-t;
    }

    &[data-vaul-drawer-direction="right"] {
      @apply inset-y-0 right-0 w-3/4 border-l sm:max-w-sm;
    }

    &[data-vaul-drawer-direction="left"] {
      @apply inset-y-0 left-0 w-3/4 border-r sm:max-w-sm;
    }

    .cn-drawer-handle {
      @apply bg-muted mx-auto mt-4 hidden h-2 w-[100px] shrink-0 rounded-full group-data-[vaul-drawer-direction=bottom]/drawer-content:block;
    }

    .cn-drawer-header {
      @apply gap-0.5 p-4 group-data-[vaul-drawer-direction=bottom]/drawer-content:text-center group-data-[vaul-drawer-direction=top]/drawer-content:text-center md:gap-1.5 md:text-left;
    }

    .cn-drawer-title {
      @apply text-foreground font-semibold;
    }

    .cn-drawer-description {
      @apply text-muted-foreground text-sm;
    }

    .cn-drawer-footer {
      @apply gap-2 p-4;
    }
  }

  /* Empty */
  .cn-empty {
    @apply gap-6 rounded-lg border-dashed p-6;

    .cn-empty-header {
      @apply gap-2;
    }

    .cn-empty-media {
      @apply mb-2;

      &[data-variant="default"] {
        @apply bg-transparent;
      }

      &[data-variant="icon"] {
        @apply bg-muted text-foreground flex size-10 shrink-0 items-center justify-center rounded-lg [&_svg:not([class*='size-'])]:size-6;
      }
    }

    .cn-empty-title {
      @apply text-lg font-medium tracking-tight;
    }

    .cn-empty-description {
      @apply text-sm/relaxed;
    }

    .cn-empty-content {
      @apply gap-4 text-sm;
    }
  }

  /* Input */
  .cn-input {
    @apply dark:bg-input/30 border-input h-9 rounded-md border bg-transparent px-3 py-1 text-base shadow-xs transition-[color,box-shadow] file:h-7 file:text-sm file:font-medium md:text-sm;
  }

  /* Textarea */
  .cn-textarea {
    @apply dark:bg-input/30 border-input rounded-md border bg-transparent px-3 py-2 text-base shadow-xs transition-[color,box-shadow] md:text-sm;
  }

  /* Select */
  .cn-select-trigger {
    @apply border-input data-[placeholder]:text-muted-foreground [&_svg:not([class*='text-'])]:text-muted-foreground dark:bg-input/30 dark:hover:bg-input/50 gap-2 rounded-md border bg-transparent px-3 py-2 text-sm shadow-xs transition-[color,box-shadow] data-[size=default]:h-9 data-[size=sm]:h-8 *:data-[slot=select-value]:gap-2 [&_svg:not([class*='size-'])]:size-4;
  }

  .cn-select-content {
    @apply bg-popover text-popover-foreground data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2 rounded-md border shadow-md;

    .cn-select-label {
      @apply text-muted-foreground px-2 py-1.5 text-xs;
    }

    .cn-select-item {
      @apply focus:bg-accent focus:text-accent-foreground [&_svg:not([class*='text-'])]:text-muted-foreground gap-2 rounded-sm py-1.5 pr-8 pl-2 text-sm [&_svg:not([class*='size-'])]:size-4 *:[span]:last:gap-2;

      .cn-select-item-indicator {
        @apply right-2 size-3.5;
      }
    }

    .cn-select-separator {
      @apply bg-border -mx-1 my-1 h-px;
    }

    .cn-select-scroll-up-button {
      @apply py-1 [&_svg:not([class*='size-'])]:size-4;
    }

    .cn-select-scroll-down-button {
      @apply py-1 [&_svg:not([class*='size-'])]:size-4;
    }
  }

  /* Sheet */
  .cn-sheet-overlay {
    @apply data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 bg-black/50;
  }

  .cn-sheet-content {
    @apply bg-background data-[state=open]:animate-in data-[state=closed]:animate-out fixed z-50 flex flex-col gap-4 shadow-lg transition ease-in-out data-[state=closed]:duration-200 data-[state=open]:duration-200;

    &[data-side="right"] {
      @apply data-[state=closed]:slide-out-to-right data-[state=open]:slide-in-from-right inset-y-0 right-0 h-full w-3/4 border-l sm:max-w-sm;
    }

    &[data-side="left"] {
      @apply data-[state=closed]:slide-out-to-left data-[state=open]:slide-in-from-left inset-y-0 left-0 h-full w-3/4 border-r sm:max-w-sm;
    }

    &[data-side="top"] {
      @apply data-[state=closed]:slide-out-to-top data-[state=open]:slide-in-from-top inset-x-0 top-0 h-auto border-b;
    }

    &[data-side="bottom"] {
      @apply data-[state=closed]:slide-out-to-bottom data-[state=open]:slide-in-from-bottom inset-x-0 bottom-0 h-auto border-t;
    }

    .cn-sheet-close {
      @apply absolute top-4 right-4;
    }

    .cn-sheet-header {
      @apply gap-1.5 p-4;
    }

    .cn-sheet-footer {
      @apply gap-2 p-4;
    }

    .cn-sheet-title {
      @apply text-foreground font-semibold;
    }

    .cn-sheet-description {
      @apply text-muted-foreground text-sm;
    }
  }
}
