.style-nova {
  /* Alert Dialog */
  .cn-alert-dialog-overlay {
    @apply data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 bg-background/90 dark:bg-background/60 duration-100;
  }

  .cn-alert-dialog-content {
    @apply data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:slide-out-to-bottom-5 data-[state=open]:slide-in-from-top-5 bg-background gap-4 rounded-xl border p-6 shadow-2xl duration-100 data-[size=default]:max-w-xs data-[size=sm]:max-w-xs data-[size=default]:sm:max-w-lg;
  }

  .cn-alert-dialog-header {
    @apply grid grid-rows-[auto_1fr] place-items-center gap-1.5 text-center has-data-[slot=alert-dialog-media]:grid-rows-[auto_auto_1fr] has-data-[slot=alert-dialog-media]:gap-x-6 sm:group-data-[size=default]/alert-dialog-content:place-items-start sm:group-data-[size=default]/alert-dialog-content:text-left sm:group-data-[size=default]/alert-dialog-content:has-data-[slot=alert-dialog-media]:grid-rows-[auto_1fr];
  }

  .cn-alert-dialog-media {
    @apply bg-muted mb-2 inline-flex size-16 items-center justify-center rounded-lg sm:group-data-[size=default]/alert-dialog-content:row-span-2 *:[svg:not([class*='size-'])]:size-8;
  }

  .cn-alert-dialog-title {
    @apply font-medium sm:group-data-[size=default]/alert-dialog-content:group-has-data-[slot=alert-dialog-media]/alert-dialog-content:col-start-2 sm:group-data-[size=default]/alert-dialog-content:group-has-data-[slot=alert-dialog-media]/alert-dialog-content:row-start-1;
  }

  .cn-alert-dialog-description {
    @apply text-muted-foreground text-sm sm:group-data-[size=default]/alert-dialog-content:group-has-data-[slot=alert-dialog-media]/alert-dialog-content:col-start-2;
  }

  .cn-button {
    @apply rounded-lg border border-transparent text-sm inset-shadow-2xs inset-shadow-white/25 [&_svg:not([class*='size-'])]:size-4;

    &.cn-button-variant-default {
      @apply text-primary-foreground bg-linear-to-b from-[color-mix(in_oklch,var(--primary)_85%,var(--background))] to-(--primary) hover:bg-linear-to-t;
    }

    &.cn-button-variant-outline {
      @apply border-border bg-linear-to-b from-[color-mix(in_oklch,var(--accent)_25%,var(--background))] to-(--accent) shadow-none hover:bg-linear-to-t;
    }

    &.cn-button-variant-secondary {
      @apply bg-secondary text-secondary-foreground hover:bg-secondary/80;
    }

    &.cn-button-variant-ghost {
      @apply hover:bg-accent hover:text-accent-foreground dark:hover:bg-accent/50;
    }

    &.cn-button-variant-destructive {
      @apply bg-linear-to-b from-[color-mix(in_oklch,var(--destructive)_85%,var(--background))] to-(--destructive) text-white hover:bg-linear-to-t;
    }

    &.cn-button-variant-link {
      @apply text-primary underline-offset-4 hover:underline;
    }

    &.cn-button-size-sm {
      @apply h-7 gap-1 px-2.5 has-[>svg]:px-2.5;
    }

    &.cn-button-size-default {
      @apply h-8 gap-1.5 px-3 has-[>svg]:px-2.5;
    }

    &.cn-button-size-lg {
      @apply h-9 gap-2 px-4 has-[>svg]:px-3;
    }

    &.cn-button-size-icon-sm {
      @apply size-7;
    }

    &.cn-button-size-icon {
      @apply size-8;
    }

    &.cn-button-size-icon-lg {
      @apply size-9;
    }
  }

  .cn-card {
    @apply gap-6 rounded-xl border py-6 shadow-sm;

    .cn-card-header {
      @apply gap-2 px-6 [.border-b]:pb-6;
    }

    .cn-card-title {
      @apply leading-none font-medium;
    }

    .cn-card-description {
      @apply text-muted-foreground text-sm;
    }

    .cn-card-content {
      @apply px-6;
    }

    .cn-card-footer {
      @apply px-6 [.border-t]:pt-6;
    }
  }

  .cn-input {
    @apply bg-input/30 h-8 rounded-lg px-2.5 text-base transition-colors file:h-7 file:text-sm file:font-medium md:text-sm;
  }

  .cn-textarea {
    @apply bg-input/30 rounded-lg px-3 py-2 text-base transition-colors md:text-sm;
  }
}
