<h2 data-slot="alert-dialog-title" class="@CssUtils.Cn("cn-alert-dialog-title", Class)" @attributes="AdditionalAttributes">
    @ChildContent
</h2>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
