<li data-slot="breadcrumb-separator" role="presentation" aria-hidden="true"
    class="@CssUtils.Cn("cn-breadcrumb-separator [&>svg]:size-3.5", Class)">
    @if (ChildContent is not null)
    {
        @ChildContent
    }
    else
    {
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="m9 18 6-6-6-6"/>
        </svg>
    }
</li>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
}
