@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: theme(colors.white);
    --foreground: theme(colors.slate.900);

    --muted: theme(colors.slate.100);
    --muted-foreground: theme(colors.slate.500);

    --popover: theme(colors.white);
    --popover-foreground: theme(colors.slate.900);

    --card: theme(colors.white);
    --card-foreground: theme(colors.slate.900);

    --border: theme(colors.slate.200);
    --input: theme(colors.slate.200);

    --primary: theme(colors.slate.900);
    --primary-foreground: theme(colors.slate.50);

    --secondary: theme(colors.slate.100);
    --secondary-foreground: theme(colors.slate.900);

    --accent: theme(colors.slate.100);
    --accent-foreground: theme(colors.slate.900);

    --destructive: red;
    --destructive-foreground: theme(colors.slate.50);

    --ring: theme(colors.slate.400);

    --radius: 0.5rem;
  }

  .dark {
    --background: theme(colors.gray.950);
    /* Similar to theme(colors.gray.200) */
    --foreground: hsl(213 31% 91%);

    /* Similar to theme(colors.slate.200) */
    --muted: hsl(223 47% 11%);
    --muted-foreground: hsl(215.4 16.3% 56.9%);

    --popover: theme(colors.gray.950);
    --popover-foreground: theme(colors.slate.400);

    --card: theme(colors.white);
    --card-foreground: theme(colors.slate.900);

    --border: theme(colors.slate.800);
    --input: theme(colors.slate.800);

    --primary: theme(colors.slate.50);
    /* Slightly off-black */
    --primary-foreground: hsl(222.2 47.4% 1.2%);

    --secondary: theme(colors.slate.900);
    --secondary-foreground: theme(colors.slate.50);

    --accent: theme(colors.slate.800);
    --accent-foreground: theme(colors.slate.50);

    --destructive: hsl(0 63% 31%);
    --destructive-foreground: theme(colors.slate.50);

    --ring: theme(colors.slate.800);

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
