@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/noto-sans";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-heading: var(--font-sans);
    --font-sans: 'Noto Sans Variable', sans-serif;
    --color-force-color-chart-6: var(--force-color-chart-6);
    --color-force-color-chart-5: var(--force-color-chart-5);
    --color-force-color-chart-4: var(--force-color-chart-4);
    --color-force-color-chart-3: var(--force-color-chart-3);
    --color-force-color-chart-2: var(--force-color-chart-2);
    --color-force-color-chart-1: var(--force-color-chart-1);
    --color-force-color-icon-error-accessible: var(--force-color-icon-error-accessible);
    --color-force-color-icon-success-accessible: var(--force-color-icon-success-accessible);
    --color-force-color-icon-info-accessible: var(--force-color-icon-info-accessible);
    --color-force-color-icon-warning-accessible: var(--force-color-icon-warning-accessible);
    --color-force-color-icon-info: var(--force-color-icon-info);
    --color-force-color-icon-error: var(--force-color-icon-error);
    --color-force-color-icon-warning: var(--force-color-icon-warning);
    --color-force-color-icon-success: var(--force-color-icon-success);
    --color-force-color-icon-interactive: var(--force-color-icon-interactive);
    --color-force-color-icon-default: var(--force-color-icon-default);
    --color-force-color-border-input: var(--force-color-border-input);
    --color-force-color-border-destructive: var(--force-color-border-destructive);
    --color-force-color-border-primary: var(--force-color-border-primary);
    --color-force-color-border-info: var(--force-color-border-info);
    --color-force-color-border-warning: var(--force-color-border-warning);
    --color-force-color-border-success: var(--force-color-border-success);
    --color-force-color-border-error: var(--force-color-border-error);
    --color-force-color-border-focus: var(--force-color-border-focus);
    --color-force-color-border-strong: var(--force-color-border-strong);
    --color-force-color-border-muted: var(--force-color-border-muted);
    --color-force-color-border-default: var(--force-color-border-default);
    --color-force-color-text-info: var(--force-color-text-info);
    --color-force-color-text-error: var(--force-color-text-error);
    --color-force-color-text-warning: var(--force-color-text-warning);
    --color-force-color-text-success: var(--force-color-text-success);
    --color-force-color-text-primary-brand: var(--force-color-text-primary-brand);
    --color-force-color-text-interactive-active: var(--force-color-text-interactive-active);
    --color-force-color-text-link-hover: var(--force-color-text-link-hover);
    --color-force-color-text-link: var(--force-color-text-link);
    --color-force-color-text-on-inverse: var(--force-color-text-on-inverse);
    --color-force-color-text-on-error: var(--force-color-text-on-error);
    --color-force-color-text-on-info: var(--force-color-text-on-info);
    --color-force-color-text-on-warning: var(--force-color-text-on-warning);
    --color-force-color-text-on-success: var(--force-color-text-on-success);
    --color-force-color-text-on-secondary: var(--force-color-text-on-secondary);
    --color-force-color-text-on-primary: var(--force-color-text-on-primary);
    --color-force-color-text-disabled: var(--force-color-text-disabled);
    --color-force-color-text-tertiary: var(--force-color-text-tertiary);
    --color-force-color-text-secondary: var(--force-color-text-secondary);
    --color-force-color-text-primary: var(--force-color-text-primary);
    --color-force-color-bg-info-subtle: var(--force-color-bg-info-subtle);
    --color-force-color-bg-info-hover: var(--force-color-bg-info-hover);
    --color-force-color-bg-info: var(--force-color-bg-info);
    --color-force-color-bg-error-subtle: var(--force-color-bg-error-subtle);
    --color-force-color-bg-warning-subtle: var(--force-color-bg-warning-subtle);
    --color-force-color-bg-warning-hover: var(--force-color-bg-warning-hover);
    --color-force-color-bg-warning: var(--force-color-bg-warning);
    --color-force-color-bg-success-subtle: var(--force-color-bg-success-subtle);
    --color-force-color-bg-success-hover: var(--force-color-bg-success-hover);
    --color-force-color-bg-success: var(--force-color-bg-success);
    --color-force-color-bg-destructive-active: var(--force-color-bg-destructive-active);
    --color-force-color-bg-destructive-hover: var(--force-color-bg-destructive-hover);
    --color-force-color-bg-destructive: var(--force-color-bg-destructive);
    --color-force-color-bg-secondary: var(--force-color-bg-secondary);
    --color-force-color-bg-on-brand-hover: var(--force-color-bg-on-brand-hover);
    --color-force-color-bg-on-brand: var(--force-color-bg-on-brand);
    --color-force-color-bg-primary-subtle-hover: var(--force-color-bg-primary-subtle-hover);
    --color-force-color-bg-primary-subtle: var(--force-color-bg-primary-subtle);
    --color-force-color-bg-primary-active: var(--force-color-bg-primary-active);
    --color-force-color-bg-primary-hover: var(--force-color-bg-primary-hover);
    --color-force-color-bg-primary: var(--force-color-bg-primary);
    --color-force-color-bg-interactive-active: var(--force-color-bg-interactive-active);
    --color-force-color-bg-interactive-hover: var(--force-color-bg-interactive-hover);
    --color-force-color-bg-overlay: var(--force-color-bg-overlay);
    --color-force-color-bg-inverse: var(--force-color-bg-inverse);
    --color-force-color-bg-emphasis: var(--force-color-bg-emphasis);
    --color-force-color-bg-muted: var(--force-color-bg-muted);
    --color-force-color-bg-surface: var(--force-color-bg-surface);
    --elevation-xl: var(--elevation-xl);
    --elevation-lg: var(--elevation-lg);
    --elevation-md: var(--elevation-md);
    --elevation-sm: var(--elevation-sm);
    --elevation-xs: var(--elevation-xs);
    --code-foreground: var(--code-foreground);
    --code: var(--code);
    --color-code-highlight: var(--code-highlight);
    --color-selection-foreground: var(--selection-foreground);
    --color-selection: var(--selection);
    --color-code-number: var(--code-number);
    --color-surface-foreground: var(--surface-foreground);
    --color-surface: var(--surface);
    --color-chart-6: var(--chart-6);
    --color-on-error: var(--on-error);
    --color-on-info: var(--on-info);
    --color-on-warning: var(--on-warning);
    --color-on-success: var(--on-success);
    --color-info-solid: var(--info-solid);
    --color-warning-solid: var(--warning-solid);
    --color-success-solid: var(--success-solid);
    --color-error-subtle: var(--error-subtle);
    --color-info-subtle: var(--info-subtle);
    --color-success-subtle: var(--success-subtle);
    --color-warning-subtle: var(--warning-subtle);
    --color-error: var(--error);
    --color-info: var(--info);
    --color-success: var(--success);
    --color-warning: var(--warning);
    --color-tertiary: var(--tertiary);
    --color-link: var(--link);
    --color-primary-subtle: var(--primary-subtle);
    --color-primary-hover: var(--primary-hover);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-outline: var(--outline);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
    --background: #ffffff;
    --foreground: #000000;
    --card: #ffffff;
    --card-foreground: #000000;
    --popover: #ffffff;
    --popover-foreground: #000000;
    --primary: #5405ff;
    --primary-foreground: #ffffff;
    --secondary: #f8f8fd;
    --secondary-foreground: #000000;
    --muted: #f8f8fd;
    --muted-foreground: #525260;
    --accent: #f0e8ff;
    --accent-foreground: #3b00bf;
    --destructive: #d11323;
    --destructive-foreground: #ffffff;
    --border: #e9e9ee;
    --input: #717180;
    --ring: #5405ff;
    --outline: #5405ff;
    --chart-1: #5405ff;
    --chart-2: #00cfff;
    --chart-3: #138613;
    --chart-4: #ff680e;
    --chart-5: #d11323;
    --sidebar: #f3f3f8;
    --sidebar-foreground: #000000;
    --sidebar-primary: #5405ff;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #f8f8fd;
    --sidebar-accent-foreground: #000000;
    --sidebar-border: #e9e9ee;
    --sidebar-ring: #5405ff;
    --primary-hover: #4400d8;
    --primary-subtle: #f0e8ff;
    --link: #5405ff;
    --tertiary: #525260;
    --warning: #c14f0a;
    --success: #0f660f;
    --info: #0066b5;
    --error: #a30e1c;
    --warning-subtle: #fffbf7;
    --success-subtle: #f3fcf3;
    --info-subtle: #f5fbfe;
    --error-subtle: #fdf5f6;
    --success-solid: #138613;
    --warning-solid: #ff680e;
    --info-solid: #0084e8;
    --on-success: #ffffff;
    --on-warning: #000000;
    --on-info: #ffffff;
    --on-error: #ffffff;
    --chart-6: #0084e8;
    --surface: #f8f8fd;
    --surface-foreground: #525260;
    --code-number: #525260;
    --selection: #5405ff;
    --selection-foreground: #ffffff;
    --code-highlight: #ededf2;
    --code: var(--surface);
    --code-foreground: var(--surface-foreground);
    --elevation-xs: 0px 1px 2px 0px #00000014, 0px 0px 2px 0px #0000001a;
    --elevation-sm: 0px 2px 4px 0px #0000001a, 0px 0px 2px 0px #00000014;
    --elevation-md: 0px 4px 8px 0px #0000001a, 0px 0px 4px 0px #00000014;
    --elevation-lg: 0px 8px 16px 0px #0000001a, 0px 0px 8px 0px #00000014;
    --elevation-xl: 0px 16px 32px 0px #0000001f, 0px 0px 16px 0px #00000014;
    --radius: 0.5rem;
    --force-color-bg-surface: #ffffff;
    --force-color-bg-muted: #f8f8fd;
    --force-color-bg-emphasis: #f3f3f8;
    --force-color-bg-inverse: #111115;
    --force-color-bg-overlay: #00000080;
    --force-color-bg-interactive-hover: #f8f8fd;
    --force-color-bg-interactive-active: #f0e8ff;
    --force-color-bg-primary: #5405ff;
    --force-color-bg-primary-hover: #4400d8;
    --force-color-bg-primary-active: #3b00bf;
    --force-color-bg-primary-subtle: #f0e8ff;
    --force-color-bg-primary-subtle-hover: #e0d0ff;
    --force-color-bg-on-brand: #ffffff1a;
    --force-color-bg-on-brand-hover: #ffffff33;
    --force-color-bg-secondary: #00cfff;
    --force-color-bg-destructive: #d11323;
    --force-color-bg-destructive-hover: #be111f;
    --force-color-bg-destructive-active: #a30e1c;
    --force-color-bg-success: #138613;
    --force-color-bg-success-hover: #117911;
    --force-color-bg-success-subtle: #f3fcf3;
    --force-color-bg-warning: #ff680e;
    --force-color-bg-warning-hover: #e25d0c;
    --force-color-bg-warning-subtle: #fffbf7;
    --force-color-bg-error-subtle: #fdf5f6;
    --force-color-bg-info: #0084e8;
    --force-color-bg-info-hover: #0077d2;
    --force-color-bg-info-subtle: #f5fbfe;
    --force-color-text-primary: #000000;
    --force-color-text-secondary: #26262e;
    --force-color-text-tertiary: #525260;
    --force-color-text-disabled: #9c9ca8;
    --force-color-text-on-primary: #ffffff;
    --force-color-text-on-secondary: #000000;
    --force-color-text-on-success: #ffffff;
    --force-color-text-on-warning: #000000;
    --force-color-text-on-info: #ffffff;
    --force-color-text-on-error: #ffffff;
    --force-color-text-on-inverse: #ffffff;
    --force-color-text-link: #5405ff;
    --force-color-text-link-hover: #4400d8;
    --force-color-text-interactive-active: #3b00bf;
    --force-color-text-primary-brand: #5405ff;
    --force-color-text-success: #0f660f;
    --force-color-text-warning: #c14f0a;
    --force-color-text-error: #a30e1c;
    --force-color-text-info: #0066b5;
    --force-color-border-default: #e9e9ee;
    --force-color-border-muted: #f3f3f8;
    --force-color-border-strong: #d5d5dc;
    --force-color-border-focus: #5405ff;
    --force-color-border-error: #d11323;
    --force-color-border-success: #138613;
    --force-color-border-warning: #ff680e;
    --force-color-border-info: #0084e8;
    --force-color-border-primary: #5405ff;
    --force-color-border-destructive: #d11323;
    --force-color-border-input: #717180;
    --force-color-icon-default: #525260;
    --force-color-icon-interactive: #5405ff;
    --force-color-icon-success: #138613;
    --force-color-icon-warning: #ff680e;
    --force-color-icon-error: #d11323;
    --force-color-icon-info: #0084e8;
    --force-color-icon-warning-accessible: #c14f0a;
    --force-color-icon-info-accessible: #0066b5;
    --force-color-icon-success-accessible: #0f660f;
    --force-color-icon-error-accessible: #a30e1c;
    --force-color-chart-1: #5405ff;
    --force-color-chart-2: #00cfff;
    --force-color-chart-3: #138613;
    --force-color-chart-4: #ff680e;
    --force-color-chart-5: #d11323;
    --force-color-chart-6: #0084e8;
}

.dark {
    --background: #26262e;
    --foreground: #f8f8fd;
    --card: #26262e;
    --card-foreground: #f8f8fd;
    --popover: #26262e;
    --popover-foreground: #f8f8fd;
    --primary: #00cfff;
    --primary-foreground: #000000;
    --secondary: #212129;
    --secondary-foreground: #f8f8fd;
    --muted: #212129;
    --muted-foreground: #9c9ca8;
    --accent: #002a36;
    --accent-foreground: #99eeff;
    --destructive: #eb6b72;
    --destructive-foreground: #000000;
    --border: #373742;
    --input: #717180;
    --ring: #3cdeff;
    --outline: #3cdeff;
    --chart-1: #3cdeff;
    --chart-2: #9c6cff;
    --chart-3: #5ec25e;
    --chart-4: #fca771;
    --chart-5: #eb6b72;
    --sidebar: #1c1c24;
    --sidebar-foreground: #f8f8fd;
    --sidebar-primary: #00cfff;
    --sidebar-primary-foreground: #000000;
    --sidebar-accent: #26262e;
    --sidebar-accent-foreground: #f8f8fd;
    --sidebar-border: #373742;
    --sidebar-ring: #3cdeff;
    --primary-hover: #3cdeff;
    --primary-subtle: #002a36;
    --link: #99eeff;
    --tertiary: #9c9ca8;
    --warning: #fca771;
    --success: #5ec25e;
    --info: #63b6f5;
    --error: #eb6b72;
    --warning-subtle: #512105;
    --success-subtle: #072c07;
    --info-subtle: #002a4a;
    --error-subtle: #46070c;
    --success-solid: #5ec25e;
    --warning-solid: #fca771;
    --info-solid: #63b6f5;
    --on-success: #000000;
    --on-warning: #000000;
    --on-info: #000000;
    --on-error: #000000;
    --chart-6: #63b6f5;
    --surface: #212129;
    --surface-foreground: #9c9ca8;
    --code-number: #9c9ca8;
    --selection: #00cfff;
    --selection-foreground: #000000;
    --code-highlight: #2d2d36;
    --code: var(--surface);
    --code-foreground: var(--surface-foreground);
    --elevation-xs: 0px 1px 2px 0px #00000033, 0px 0px 2px 0px #00000040;
    --elevation-sm: 0px 2px 4px 0px #00000040, 0px 0px 2px 0px #00000033;
    --elevation-md: 0px 4px 8px 0px #00000040, 0px 0px 4px 0px #00000033;
    --elevation-lg: 0px 8px 16px 0px #00000040, 0px 0px 8px 0px #00000033;
    --elevation-xl: 0px 16px 32px 0px #0000004d, 0px 0px 16px 0px #00000040;
    --radius: 0.5rem;
    --force-color-bg-surface: #26262e;
    --force-color-bg-muted: #212129;
    --force-color-bg-emphasis: #1c1c24;
    --force-color-bg-inverse: #ffffff;
    --force-color-bg-overlay: #00000080;
    --force-color-bg-interactive-hover: #26262e;
    --force-color-bg-interactive-active: #002a36;
    --force-color-bg-primary: #00cfff;
    --force-color-bg-primary-hover: #3cdeff;
    --force-color-bg-primary-active: #00aad1;
    --force-color-bg-primary-subtle: #002a36;
    --force-color-bg-primary-subtle-hover: #007a90;
    --force-color-bg-on-brand: #ffffff1a;
    --force-color-bg-on-brand-hover: #ffffff33;
    --force-color-bg-secondary: #9c6cff;
    --force-color-bg-destructive: #eb6b72;
    --force-color-bg-destructive-hover: #f2b3b8;
    --force-color-bg-destructive-active: #d11323;
    --force-color-bg-success: #5ec25e;
    --force-color-bg-success-hover: #a5dfa5;
    --force-color-bg-success-subtle: #072c07;
    --force-color-bg-warning: #fca771;
    --force-color-bg-warning-hover: #ffd4ba;
    --force-color-bg-warning-subtle: #512105;
    --force-color-bg-error-subtle: #46070c;
    --force-color-bg-info: #63b6f5;
    --force-color-bg-info-hover: #add8f7;
    --force-color-bg-info-subtle: #002a4a;
    --force-color-text-primary: #f8f8fd;
    --force-color-text-secondary: #d5d5dc;
    --force-color-text-tertiary: #9c9ca8;
    --force-color-text-disabled: #717180;
    --force-color-text-on-primary: #000000;
    --force-color-text-on-secondary: #000000;
    --force-color-text-on-success: #000000;
    --force-color-text-on-warning: #000000;
    --force-color-text-on-info: #000000;
    --force-color-text-on-error: #000000;
    --force-color-text-on-inverse: #000000;
    --force-color-text-link: #99eeff;
    --force-color-text-link-hover: #bcf3ff;
    --force-color-text-interactive-active: #99eeff;
    --force-color-text-primary-brand: #99eeff;
    --force-color-text-success: #5ec25e;
    --force-color-text-warning: #fca771;
    --force-color-text-error: #eb6b72;
    --force-color-text-info: #63b6f5;
    --force-color-border-default: #373742;
    --force-color-border-muted: #26262e;
    --force-color-border-strong: #525260;
    --force-color-border-focus: #3cdeff;
    --force-color-border-error: #eb6b72;
    --force-color-border-success: #5ec25e;
    --force-color-border-warning: #fca771;
    --force-color-border-info: #63b6f5;
    --force-color-border-primary: #3cdeff;
    --force-color-border-destructive: #eb6b72;
    --force-color-border-input: #717180;
    --force-color-icon-default: #9c9ca8;
    --force-color-icon-interactive: #3cdeff;
    --force-color-icon-success: #5ec25e;
    --force-color-icon-warning: #fca771;
    --force-color-icon-error: #eb6b72;
    --force-color-icon-info: #63b6f5;
    --force-color-icon-warning-accessible: #fca771;
    --force-color-icon-info-accessible: #63b6f5;
    --force-color-icon-success-accessible: #5ec25e;
    --force-color-icon-error-accessible: #eb6b72;
    --force-color-chart-1: #3cdeff;
    --force-color-chart-2: #9c6cff;
    --force-color-chart-3: #5ec25e;
    --force-color-chart-4: #fca771;
    --force-color-chart-5: #eb6b72;
    --force-color-chart-6: #63b6f5;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
}