.theme-default .theme-container,
.theme-default [data-radix-popper-content-wrapper] {
  --chart-1: var(--color-blue-300);
  --chart-2: var(--color-blue-500);
  --chart-3: var(--color-blue-600);
  --chart-4: var(--color-blue-700);
  --chart-5: var(--color-blue-800);
}

.theme-mono .theme-container,
.theme-mono [data-radix-popper-content-wrapper] {
  --font-sans: var(--font-mono);
  --primary: var(--color-stone-600);
  --primary-foreground: var(--color-stone-50);
  --chart-1: var(--color-stone-300);
  --chart-2: var(--color-stone-500);
  --chart-3: var(--color-stone-600);
  --chart-4: var(--color-stone-700);
  --chart-5: var(--color-stone-800);
  --sidebar-primary: var(--color-stone-600);
  --sidebar-primary-foreground: var(--color-stone-50);
  --sidebar-ring: var(--color-stone-400);

  @variant dark {
    --primary: var(--color-stone-500);
    --primary-foreground: var(--color-stone-50);
    --sidebar-primary: var(--color-stone-500);
    --sidebar-primary-foreground: var(--color-stone-50);
    --sidebar-ring: var(--color-stone-900);
  }

  @media (min-width: 1024px) {
    --font-sans: var(--font-mono);
    --radius: 0.45em;
    --text-lg: 1rem;
    --text-xl: 1.1rem;
    --text-2xl: 1.2rem;
    --text-3xl: 1.3rem;
    --text-4xl: 1.4rem;
    --text-5xl: 1.5rem;
    --text-6xl: 1.6rem;
    --text-7xl: 1.7rem;
    --text-8xl: 1.8rem;
    --text-base: 0.85rem;
    --text-sm: 0.8rem;
    --spacing: 0.222222rem;
  }

  .rounded-xs,
  .rounded-sm,
  .rounded-md,
  .rounded-lg,
  .rounded-xl {
    border-radius: 0;
  }

  .shadow-xs,
  .shadow-sm,
  .shadow-md,
  .shadow-lg,
  .shadow-xl {
    box-shadow: none;
  }

  [data-slot="toggle-group"],
  [data-slot="toggle-group-item"],
  [data-slot="checkbox"],
  [data-slot="radio"],
  [data-slot="switch"],
  [data-slot="switch-thumb"] {
    @apply !rounded-none !shadow-none;
  }
}

.theme-scaled .theme-container,
.theme-scaled [data-radix-popper-content-wrapper] {
  --chart-1: var(--color-blue-300);
  --chart-2: var(--color-blue-500);
  --chart-3: var(--color-blue-600);
  --chart-4: var(--color-blue-700);
  --chart-5: var(--color-blue-800);

  @media (min-width: 1024px) {
    --radius: 0.45em;
    --text-lg: 1rem;
    --text-xl: 1.1rem;
    --text-2xl: 1.2rem;
    --text-3xl: 1.3rem;
    --text-4xl: 1.4rem;
    --text-5xl: 1.5rem;
    --text-6xl: 1.6rem;
    --text-7xl: 1.7rem;
    --text-8xl: 1.8rem;
    --text-base: 0.85rem;
    --text-sm: 0.8rem;
    --spacing: 0.2rem;
  }

  [data-slot="select-trigger"],
  [data-slot="toggle-group-item"] {
    --spacing: 0.2rem;
  }

  [data-slot="card"] {
    border-radius: var(--radius);
    padding-block: calc(var(--spacing) * 4);
    gap: calc(var(--spacing) * 2);
  }

  [data-slot="card"].pb-0 {
    padding-bottom: 0;
  }
}

.theme-rounded-none .theme-container,
.theme-rounded-none [data-radix-popper-content-wrapper] {
  --radius: 0;
}

.theme-rounded-small .theme-container,
.theme-rounded-small [data-radix-popper-content-wrapper] {
  --radius: 0.4rem;
}

.theme-rounded-medium .theme-container,
.theme-rounded-medium [data-radix-popper-content-wrapper] {
  --radius: 0.65rem;
}

.theme-rounded-large .theme-container,
.theme-rounded-large [data-radix-popper-content-wrapper] {
  --radius: 1rem;
}

.theme-rounded-full .theme-container,
.theme-rounded-full [data-radix-popper-content-wrapper] {
  --radius: 1.2rem;
}

.theme-inter .theme-container,
.theme-inter [data-radix-popper-content-wrapper] {
  --font-sans: var(--font-inter);
}

.theme-noto-sans .theme-container,
.theme-noto-sans [data-radix-popper-content-wrapper] {
  --font-sans: var(--font-noto-sans);
}

.theme-nunito-sans .theme-container,
.theme-nunito-sans [data-radix-popper-content-wrapper] {
  --font-sans: var(--font-nunito-sans);
}

.theme-figtree .theme-container,
.theme-figtree [data-radix-popper-content-wrapper] {
  --font-sans: var(--font-figtree);
}

.theme-blue .theme-container,
.theme-blue [data-radix-popper-content-wrapper] {
  --primary: var(--color-blue-700);
  --primary-foreground: var(--color-blue-50);
  /* --ring: var(--color-blue-100); */
  --sidebar-primary: var(--color-blue-600);
  --sidebar-primary-foreground: var(--color-blue-50);
  /* --sidebar-ring: var(--color-blue-400); */
  --chart-1: var(--color-blue-300);
  --chart-2: var(--color-blue-500);
  --chart-3: var(--color-blue-600);
  --chart-4: var(--color-blue-700);
  --chart-5: var(--color-blue-800);

  @variant dark {
    --primary: var(--color-blue-700);
    --primary-foreground: var(--color-blue-50);
    /* --ring: var(--color-blue-900); */
    --sidebar-primary: var(--color-blue-500);
    --sidebar-primary-foreground: var(--color-blue-50);
    /* --sidebar-ring: var(--color-blue-900); */
  }
}

.theme-green .theme-container,
.theme-green [data-radix-popper-content-wrapper] {
  --primary: var(--color-lime-600);
  --primary-foreground: var(--color-lime-50);
  --ring: var(--color-lime-400);
  --chart-1: var(--color-green-300);
  --chart-2: var(--color-green-500);
  --chart-3: var(--color-green-600);
  --chart-4: var(--color-green-700);
  --chart-5: var(--color-green-800);
  --sidebar-primary: var(--color-lime-600);
  --sidebar-primary-foreground: var(--color-lime-50);
  --sidebar-ring: var(--color-lime-400);

  @variant dark {
    --primary: var(--color-lime-600);
    --primary-foreground: var(--color-lime-50);
    --ring: var(--color-lime-900);
    --sidebar-primary: var(--color-lime-500);
    --sidebar-primary-foreground: var(--color-lime-50);
    --sidebar-ring: var(--color-lime-900);
  }
}

.theme-amber .theme-container,
.theme-amber [data-radix-popper-content-wrapper] {
  --primary: var(--color-amber-600);
  --primary-foreground: var(--color-amber-50);
  --ring: var(--color-amber-400);
  --chart-1: var(--color-amber-300);
  --chart-2: var(--color-amber-500);
  --chart-3: var(--color-amber-600);
  --chart-4: var(--color-amber-700);
  --chart-5: var(--color-amber-800);
  --sidebar-primary: var(--color-amber-600);
  --sidebar-primary-foreground: var(--color-amber-50);
  --sidebar-ring: var(--color-amber-400);

  @variant dark {
    --primary: var(--color-amber-500);
    --primary-foreground: var(--color-amber-50);
    --ring: var(--color-amber-900);
    --sidebar-primary: var(--color-amber-500);
    --sidebar-primary-foreground: var(--color-amber-50);
    --sidebar-ring: var(--color-amber-900);
  }
}

.theme-rose .theme-container,
.theme-rose [data-radix-popper-content-wrapper] {
  --primary: var(--color-rose-600);
  --primary-foreground: var(--color-rose-50);
  --ring: var(--color-rose-400);
  --chart-1: var(--color-rose-300);
  --chart-2: var(--color-rose-500);
  --chart-3: var(--color-rose-600);
  --chart-4: var(--color-rose-700);
  --chart-5: var(--color-rose-800);
  --sidebar-primary: var(--color-rose-600);
  --sidebar-primary-foreground: var(--color-rose-50);
  --sidebar-ring: var(--color-rose-400);

  @variant dark {
    --primary: var(--color-rose-500);
    --primary-foreground: var(--color-rose-50);
    --ring: var(--color-rose-900);
    --sidebar-primary: var(--color-rose-500);
    --sidebar-primary-foreground: var(--color-rose-50);
    --sidebar-ring: var(--color-rose-900);
  }
}

.theme-purple .theme-container,
.theme-purple [data-radix-popper-content-wrapper] {
  --primary: var(--color-purple-600);
  --primary-foreground: var(--color-purple-50);
  --ring: var(--color-purple-400);
  --chart-1: var(--color-purple-300);
  --chart-2: var(--color-purple-500);
  --chart-3: var(--color-purple-600);
  --chart-4: var(--color-purple-700);
  --chart-5: var(--color-purple-800);
  --sidebar-primary: var(--color-purple-600);
  --sidebar-primary-foreground: var(--color-purple-50);
  --sidebar-ring: var(--color-purple-400);

  @variant dark {
    --primary: var(--color-purple-500);
    --primary-foreground: var(--color-purple-50);
    --ring: var(--color-purple-900);
    --sidebar-primary: var(--color-purple-500);
    --sidebar-primary-foreground: var(--color-purple-50);
    --sidebar-ring: var(--color-purple-900);
  }
}

.theme-orange .theme-container,
.theme-orange [data-radix-popper-content-wrapper] {
  --primary: var(--color-orange-600);
  --primary-foreground: var(--color-orange-50);
  --ring: var(--color-orange-400);
  --chart-1: var(--color-orange-300);
  --chart-2: var(--color-orange-500);
  --chart-3: var(--color-orange-600);
  --chart-4: var(--color-orange-700);
  --chart-5: var(--color-orange-800);
  --sidebar-primary: var(--color-orange-600);
  --sidebar-primary-foreground: var(--color-orange-50);
  --sidebar-ring: var(--color-orange-400);

  @variant dark {
    --primary: var(--color-orange-500);
    --primary-foreground: var(--color-orange-50);
    --ring: var(--color-orange-900);
    --sidebar-primary: var(--color-orange-500);
    --sidebar-primary-foreground: var(--color-orange-50);
    --sidebar-ring: var(--color-orange-900);
  }
}

.theme-teal .theme-container,
.theme-teal [data-radix-popper-content-wrapper] {
  --primary: var(--color-teal-600);
  --primary-foreground: var(--color-teal-50);
  --chart-1: var(--color-teal-300);
  --chart-2: var(--color-teal-500);
  --chart-3: var(--color-teal-600);
  --chart-4: var(--color-teal-700);
  --chart-5: var(--color-teal-800);
  --sidebar-primary: var(--color-teal-600);
  --sidebar-primary-foreground: var(--color-teal-50);
  --sidebar-ring: var(--color-teal-400);

  @variant dark {
    --primary: var(--color-teal-500);
    --primary-foreground: var(--color-teal-50);
    --sidebar-primary: var(--color-teal-500);
    --sidebar-primary-foreground: var(--color-teal-50);
    --sidebar-ring: var(--color-teal-900);
  }
}

.theme-red .theme-container,
.theme-red [data-radix-popper-content-wrapper] {
  --primary: var(--color-red-600);
  --primary-foreground: var(--color-red-50);
  --ring: var(--color-red-400);
  --chart-1: var(--color-red-300);
  --chart-2: var(--color-red-500);
  --chart-3: var(--color-red-600);
  --chart-4: var(--color-red-700);
  --chart-5: var(--color-red-800);
  --sidebar-primary: var(--color-red-600);
  --sidebar-primary-foreground: var(--color-red-50);
  --sidebar-ring: var(--color-red-400);

  @variant dark {
    --primary: var(--color-red-500);
    --primary-foreground: var(--color-red-50);
    --ring: var(--color-red-900);
    --sidebar-primary: var(--color-red-500);
    --sidebar-primary-foreground: var(--color-red-50);
    --sidebar-ring: var(--color-red-900);
  }
}

.theme-yellow .theme-container,
.theme-yellow [data-radix-popper-content-wrapper] {
  --primary: var(--color-yellow-400);
  --primary-foreground: var(--color-yellow-900);
  --ring: var(--color-yellow-400);
  --chart-1: var(--color-yellow-300);
  --chart-2: var(--color-yellow-500);
  --chart-3: var(--color-yellow-600);
  --chart-4: var(--color-yellow-700);
  --chart-5: var(--color-yellow-800);
  --sidebar-primary: var(--color-yellow-600);
  --sidebar-primary-foreground: var(--color-yellow-50);
  --sidebar-ring: var(--color-yellow-400);

  @variant dark {
    --primary: var(--color-yellow-500);
    --primary-foreground: var(--color-yellow-900);
    --ring: var(--color-yellow-900);
    --sidebar-primary: var(--color-yellow-500);
    --sidebar-primary-foreground: var(--color-yellow-50);
    --sidebar-ring: var(--color-yellow-900);
  }
}

.theme-violet .theme-container,
.theme-violet [data-radix-popper-content-wrapper] {
  --primary: var(--color-violet-600);
  --primary-foreground: var(--color-violet-50);
  --ring: var(--color-violet-400);
  --chart-1: var(--color-violet-300);
  --chart-2: var(--color-violet-500);
  --chart-3: var(--color-violet-600);
  --chart-4: var(--color-violet-700);
  --chart-5: var(--color-violet-800);
  --sidebar-primary: var(--color-violet-600);
  --sidebar-primary-foreground: var(--color-violet-50);
  --sidebar-ring: var(--color-violet-400);

  @variant dark {
    --primary: var(--color-violet-500);
    --primary-foreground: var(--color-violet-50);
    --ring: var(--color-violet-900);
    --sidebar-primary: var(--color-violet-500);
    --sidebar-primary-foreground: var(--color-violet-50);
    --sidebar-ring: var(--color-violet-900);
  }
}

.theme-sketch {
  --background: oklch(0.9721 0.0158 110.5501);
  --foreground: oklch(0.5066 0.2501 271.8903);
  --card: oklch(0.9721 0.0158 110.5501);
  --card-foreground: oklch(0.5066 0.2501 271.8903);
  --popover: oklch(0.9721 0.0158 110.5501);
  --popover-foreground: oklch(0.5066 0.2501 271.8903);
  --primary: oklch(0.5066 0.2501 271.8903);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(1 0 0);
  --secondary-foreground: oklch(0.5066 0.2501 271.8903);
  --muted: oklch(0.9189 0.0147 106.6853);
  --muted-foreground: oklch(0.5066 0.2501 271.8903);
  --accent: oklch(0.9168 0.0214 109.7161);
  --accent-foreground: oklch(0.4486 0.2266 271.5512);
  --destructive: oklch(0.63 0.19 23.03);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.5066 0.2501 271.8903);
  --input: oklch(0.5066 0.2501 271.8903);
  --ring: oklch(0.468 0.2721 279.6007);
  --chart-1: oklch(0.5066 0.2501 271.8903);
  --chart-2: oklch(0.7 0.19 48);
  --chart-3: oklch(0.77 0.2 131);
  --chart-4: oklch(0.68 0.15 237);
  --chart-5: oklch(0.66 0.21 354);
  --sidebar: oklch(0.9721 0.0158 110.5501);
  --sidebar-foreground: oklch(0.5066 0.2501 271.8903);
  --sidebar-primary: oklch(0.5066 0.2501 271.8903);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9168 0.0214 109.7161);
  --sidebar-accent-foreground: oklch(0.4486 0.2266 271.5512);
  --sidebar-border: oklch(0.4486 0.2266 271.5512);
  --sidebar-ring: oklch(0.4486 0.2266 271.5512);
  --font-sans: Geist Mono;
  --shadow-2xs: 4px 4px 0px 0px hsl(238.3146 85.5769% 59.2157% / 0.07);
  --shadow-xs: 4px 4px 0px 0px hsl(238.3146 85.5769% 59.2157% / 0.07);
  --shadow-sm:
    4px 4px 0px 0px hsl(238.3146 85.5769% 59.2157% / 0.15),
    4px 1px 2px -1px hsl(238.3146 85.5769% 59.2157% / 0.15);
  --shadow:
    4px 4px 0px 0px hsl(238.3146 85.5769% 59.2157% / 0.15),
    4px 1px 2px -1px hsl(238.3146 85.5769% 59.2157% / 0.15);
  --shadow-md:
    4px 4px 0px 0px hsl(238.3146 85.5769% 59.2157% / 0.15),
    4px 2px 4px -1px hsl(238.3146 85.5769% 59.2157% / 0.15);
  --shadow-lg:
    4px 4px 0px 0px hsl(238.3146 85.5769% 59.2157% / 0.15),
    4px 4px 6px -1px hsl(238.3146 85.5769% 59.2157% / 0.15);
  --shadow-xl:
    4px 4px 0px 0px hsl(238.3146 85.5769% 59.2157% / 0.15),
    4px 8px 10px -1px hsl(238.3146 85.5769% 59.2157% / 0.15);
  --shadow-2xl: 4px 4px 0px 0px hsl(238.3146 85.5769% 59.2157% / 0.38);
  --radius: 0rem;

  @variant dark {
    --background: oklch(0.256 0.151 268.343);
    --foreground: oklch(0.972 0.016 110.55);
    --card: oklch(0.256 0.151 268.343);
    --card-foreground: oklch(0.972 0.016 110.55);
    --popover: oklch(0.507 0.25 271.89);
    --popover-foreground: oklch(0.972 0.016 110.55);
    --primary: oklch(0.972 0.016 110.55);
    --primary-foreground: oklch(0.253 0.094 275.725);
    --secondary: oklch(1 0 0 / 0.2);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.228 0.127 269.556);
    --muted-foreground: oklch(0.972 0.016 110.55);
    --accent: oklch(0.228 0.127 269.556);
    --accent-foreground: oklch(0.972 0.016 110.55);
    --destructive: oklch(0.711 0.166 22.216);
    --destructive-foreground: oklch(0 0 0);
    --border: oklch(0.427 0.149 277.089);
    --input: oklch(0.427 0.149 277.089);
    --ring: oklch(1 0 0);
    --chart-1: oklch(0.972 0.016 110.55);
    --chart-2: oklch(0.7 0.19 48);
    --chart-3: oklch(0.77 0.2 131);
    --chart-4: oklch(0.68 0.15 237);
    --chart-5: oklch(0.66 0.21 354);
    --sidebar: oklch(0.256 0.151 268.343);
    --sidebar-foreground: oklch(0.972 0.016 110.55);
    --sidebar-primary: oklch(0.507 0.25 271.89);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.416 0.203 272.082);
    --sidebar-accent-foreground: oklch(0.972 0.016 110.55);
    --sidebar-border: oklch(0.972 0.016 110.55);
    --sidebar-ring: oklch(0.972 0.016 110.55);
    --sidebar-background: oklch(0.253 0.094 275.725);
    --font-sans: Geist Mono;
    --shadow-2xs: 4px 4px 0px 0px oklch(0.427 0.149 277.089 / 0.5);
    --shadow-xs: 4px 4px 0px 0px oklch(0.427 0.149 277.089 / 0.5);
    --shadow-sm: 4px 4px 0px 0px oklch(0.427 0.149 277.089 / 0.5);
    --shadow: 4px 4px 0px 0px oklch(0.427 0.149 277.089 / 0.5);
    --shadow-md: 4px 4px 0px 0px oklch(0.427 0.149 277.089 / 0.5);
    --shadow-lg: 4px 4px 0px 0px oklch(0.427 0.149 277.089 / 0.5);
    --shadow-xl: 4px 4px 0px 0px oklch(0.427 0.149 277.089 / 0.5);
    --shadow-2xl: 4px 4px 0px 0px oklch(0.427 0.149 277.089 / 0.5);
  }
}

/* [FORCE-UI-GENERATED-START] standalone .theme-{name} blocks — edit registry/themes.ts, then run pnpm theme:sync */

.theme-neutral {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  @variant dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
  }
}

.theme-stone {
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: oklch(0.216 0.006 56.043);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary: oklch(0.97 0.001 106.424);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.869 0.005 56.366);
  --chart-2: oklch(0.553 0.013 58.071);
  --chart-3: oklch(0.444 0.011 73.639);
  --chart-4: oklch(0.374 0.01 67.558);
  --chart-5: oklch(0.268 0.007 34.298);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);

  @variant dark {
    --background: oklch(0.147 0.004 49.25);
    --foreground: oklch(0.985 0.001 106.423);
    --card: oklch(0.216 0.006 56.043);
    --card-foreground: oklch(0.985 0.001 106.423);
    --popover: oklch(0.216 0.006 56.043);
    --popover-foreground: oklch(0.985 0.001 106.423);
    --primary: oklch(0.923 0.003 48.717);
    --primary-foreground: oklch(0.216 0.006 56.043);
    --secondary: oklch(0.268 0.007 34.298);
    --secondary-foreground: oklch(0.985 0.001 106.423);
    --muted: oklch(0.268 0.007 34.298);
    --muted-foreground: oklch(0.709 0.01 56.259);
    --accent: oklch(0.268 0.007 34.298);
    --accent-foreground: oklch(0.985 0.001 106.423);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.553 0.013 58.071);
    --chart-1: oklch(0.869 0.005 56.366);
    --chart-2: oklch(0.553 0.013 58.071);
    --chart-3: oklch(0.444 0.011 73.639);
    --chart-4: oklch(0.374 0.01 67.558);
    --chart-5: oklch(0.268 0.007 34.298);
    --sidebar: oklch(0.216 0.006 56.043);
    --sidebar-foreground: oklch(0.985 0.001 106.423);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
    --sidebar-accent: oklch(0.268 0.007 34.298);
    --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.553 0.013 58.071);
  }
}

.theme-zinc {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.871 0.006 286.286);
  --chart-2: oklch(0.552 0.016 285.938);
  --chart-3: oklch(0.442 0.017 285.786);
  --chart-4: oklch(0.37 0.013 285.805);
  --chart-5: oklch(0.274 0.006 286.033);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);

  @variant dark {
    --background: oklch(0.141 0.005 285.823);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.21 0.006 285.885);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.21 0.006 285.885);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.92 0.004 286.32);
    --primary-foreground: oklch(0.21 0.006 285.885);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --accent: oklch(0.274 0.006 286.033);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.552 0.016 285.938);
    --chart-1: oklch(0.871 0.006 286.286);
    --chart-2: oklch(0.552 0.016 285.938);
    --chart-3: oklch(0.442 0.017 285.786);
    --chart-4: oklch(0.37 0.013 285.805);
    --chart-5: oklch(0.274 0.006 286.033);
    --sidebar: oklch(0.21 0.006 285.885);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.274 0.006 286.033);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.552 0.016 285.938);
  }
}

.theme-mauve {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0.008 326);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0.008 326);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0.008 326);
  --primary: oklch(0.212 0.019 322.12);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.96 0.003 325.6);
  --secondary-foreground: oklch(0.212 0.019 322.12);
  --muted: oklch(0.96 0.003 325.6);
  --muted-foreground: oklch(0.542 0.034 322.5);
  --accent: oklch(0.96 0.003 325.6);
  --accent-foreground: oklch(0.212 0.019 322.12);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0.005 325.62);
  --input: oklch(0.922 0.005 325.62);
  --ring: oklch(0.711 0.019 323.02);
  --chart-1: oklch(0.865 0.012 325.68);
  --chart-2: oklch(0.542 0.034 322.5);
  --chart-3: oklch(0.435 0.029 321.78);
  --chart-4: oklch(0.364 0.029 323.89);
  --chart-5: oklch(0.263 0.024 320.12);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0.008 326);
  --sidebar-primary: oklch(0.212 0.019 322.12);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.96 0.003 325.6);
  --sidebar-accent-foreground: oklch(0.212 0.019 322.12);
  --sidebar-border: oklch(0.922 0.005 325.62);
  --sidebar-ring: oklch(0.711 0.019 323.02);

  @variant dark {
    --background: oklch(0.145 0.008 326);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.212 0.019 322.12);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.212 0.019 322.12);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0.005 325.62);
    --primary-foreground: oklch(0.212 0.019 322.12);
    --secondary: oklch(0.263 0.024 320.12);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.263 0.024 320.12);
    --muted-foreground: oklch(0.711 0.019 323.02);
    --accent: oklch(0.263 0.024 320.12);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.542 0.034 322.5);
    --chart-1: oklch(0.865 0.012 325.68);
    --chart-2: oklch(0.542 0.034 322.5);
    --chart-3: oklch(0.435 0.029 321.78);
    --chart-4: oklch(0.364 0.029 323.89);
    --chart-5: oklch(0.263 0.024 320.12);
    --sidebar: oklch(0.212 0.019 322.12);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.263 0.024 320.12);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.542 0.034 322.5);
  }
}

.theme-olive {
  --background: oklch(1 0 0);
  --foreground: oklch(0.153 0.006 107.1);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.153 0.006 107.1);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.153 0.006 107.1);
  --primary: oklch(0.228 0.013 107.4);
  --primary-foreground: oklch(0.988 0.003 106.5);
  --secondary: oklch(0.966 0.005 106.5);
  --secondary-foreground: oklch(0.228 0.013 107.4);
  --muted: oklch(0.966 0.005 106.5);
  --muted-foreground: oklch(0.58 0.031 107.3);
  --accent: oklch(0.966 0.005 106.5);
  --accent-foreground: oklch(0.228 0.013 107.4);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.93 0.007 106.5);
  --input: oklch(0.93 0.007 106.5);
  --ring: oklch(0.737 0.021 106.9);
  --chart-1: oklch(0.88 0.011 106.6);
  --chart-2: oklch(0.58 0.031 107.3);
  --chart-3: oklch(0.466 0.025 107.3);
  --chart-4: oklch(0.394 0.023 107.4);
  --chart-5: oklch(0.286 0.016 107.4);
  --radius: 0.625rem;
  --sidebar: oklch(0.988 0.003 106.5);
  --sidebar-foreground: oklch(0.153 0.006 107.1);
  --sidebar-primary: oklch(0.228 0.013 107.4);
  --sidebar-primary-foreground: oklch(0.988 0.003 106.5);
  --sidebar-accent: oklch(0.966 0.005 106.5);
  --sidebar-accent-foreground: oklch(0.228 0.013 107.4);
  --sidebar-border: oklch(0.93 0.007 106.5);
  --sidebar-ring: oklch(0.737 0.021 106.9);

  @variant dark {
    --background: oklch(0.153 0.006 107.1);
    --foreground: oklch(0.988 0.003 106.5);
    --card: oklch(0.228 0.013 107.4);
    --card-foreground: oklch(0.988 0.003 106.5);
    --popover: oklch(0.228 0.013 107.4);
    --popover-foreground: oklch(0.988 0.003 106.5);
    --primary: oklch(0.93 0.007 106.5);
    --primary-foreground: oklch(0.228 0.013 107.4);
    --secondary: oklch(0.286 0.016 107.4);
    --secondary-foreground: oklch(0.988 0.003 106.5);
    --muted: oklch(0.286 0.016 107.4);
    --muted-foreground: oklch(0.737 0.021 106.9);
    --accent: oklch(0.286 0.016 107.4);
    --accent-foreground: oklch(0.988 0.003 106.5);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.58 0.031 107.3);
    --chart-1: oklch(0.88 0.011 106.6);
    --chart-2: oklch(0.58 0.031 107.3);
    --chart-3: oklch(0.466 0.025 107.3);
    --chart-4: oklch(0.394 0.023 107.4);
    --chart-5: oklch(0.286 0.016 107.4);
    --sidebar: oklch(0.228 0.013 107.4);
    --sidebar-foreground: oklch(0.988 0.003 106.5);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.988 0.003 106.5);
    --sidebar-accent: oklch(0.286 0.016 107.4);
    --sidebar-accent-foreground: oklch(0.988 0.003 106.5);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.58 0.031 107.3);
  }
}

.theme-mist {
  --background: oklch(1 0 0);
  --foreground: oklch(0.148 0.004 228.8);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.148 0.004 228.8);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.148 0.004 228.8);
  --primary: oklch(0.218 0.008 223.9);
  --primary-foreground: oklch(0.987 0.002 197.1);
  --secondary: oklch(0.963 0.002 197.1);
  --secondary-foreground: oklch(0.218 0.008 223.9);
  --muted: oklch(0.963 0.002 197.1);
  --muted-foreground: oklch(0.56 0.021 213.5);
  --accent: oklch(0.963 0.002 197.1);
  --accent-foreground: oklch(0.218 0.008 223.9);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.925 0.005 214.3);
  --input: oklch(0.925 0.005 214.3);
  --ring: oklch(0.723 0.014 214.4);
  --chart-1: oklch(0.872 0.007 219.6);
  --chart-2: oklch(0.56 0.021 213.5);
  --chart-3: oklch(0.45 0.017 213.2);
  --chart-4: oklch(0.378 0.015 216);
  --chart-5: oklch(0.275 0.011 216.9);
  --radius: 0.625rem;
  --sidebar: oklch(0.987 0.002 197.1);
  --sidebar-foreground: oklch(0.148 0.004 228.8);
  --sidebar-primary: oklch(0.218 0.008 223.9);
  --sidebar-primary-foreground: oklch(0.987 0.002 197.1);
  --sidebar-accent: oklch(0.963 0.002 197.1);
  --sidebar-accent-foreground: oklch(0.218 0.008 223.9);
  --sidebar-border: oklch(0.925 0.005 214.3);
  --sidebar-ring: oklch(0.723 0.014 214.4);

  @variant dark {
    --background: oklch(0.148 0.004 228.8);
    --foreground: oklch(0.987 0.002 197.1);
    --card: oklch(0.218 0.008 223.9);
    --card-foreground: oklch(0.987 0.002 197.1);
    --popover: oklch(0.218 0.008 223.9);
    --popover-foreground: oklch(0.987 0.002 197.1);
    --primary: oklch(0.925 0.005 214.3);
    --primary-foreground: oklch(0.218 0.008 223.9);
    --secondary: oklch(0.275 0.011 216.9);
    --secondary-foreground: oklch(0.987 0.002 197.1);
    --muted: oklch(0.275 0.011 216.9);
    --muted-foreground: oklch(0.723 0.014 214.4);
    --accent: oklch(0.275 0.011 216.9);
    --accent-foreground: oklch(0.987 0.002 197.1);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.56 0.021 213.5);
    --chart-1: oklch(0.872 0.007 219.6);
    --chart-2: oklch(0.56 0.021 213.5);
    --chart-3: oklch(0.45 0.017 213.2);
    --chart-4: oklch(0.378 0.015 216);
    --chart-5: oklch(0.275 0.011 216.9);
    --sidebar: oklch(0.218 0.008 223.9);
    --sidebar-foreground: oklch(0.987 0.002 197.1);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.987 0.002 197.1);
    --sidebar-accent: oklch(0.275 0.011 216.9);
    --sidebar-accent-foreground: oklch(0.987 0.002 197.1);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.56 0.021 213.5);
  }
}

.theme-taupe {
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.3);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.3);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.3);
  --primary: oklch(0.214 0.009 43.1);
  --primary-foreground: oklch(0.986 0.002 67.8);
  --secondary: oklch(0.96 0.002 17.2);
  --secondary-foreground: oklch(0.214 0.009 43.1);
  --muted: oklch(0.96 0.002 17.2);
  --muted-foreground: oklch(0.547 0.021 43.1);
  --accent: oklch(0.96 0.002 17.2);
  --accent-foreground: oklch(0.214 0.009 43.1);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0.005 34.3);
  --input: oklch(0.922 0.005 34.3);
  --ring: oklch(0.714 0.014 41.2);
  --chart-1: oklch(0.868 0.007 39.5);
  --chart-2: oklch(0.547 0.021 43.1);
  --chart-3: oklch(0.438 0.017 39.3);
  --chart-4: oklch(0.367 0.016 35.7);
  --chart-5: oklch(0.268 0.011 36.5);
  --radius: 0.625rem;
  --sidebar: oklch(0.986 0.002 67.8);
  --sidebar-foreground: oklch(0.147 0.004 49.3);
  --sidebar-primary: oklch(0.214 0.009 43.1);
  --sidebar-primary-foreground: oklch(0.986 0.002 67.8);
  --sidebar-accent: oklch(0.96 0.002 17.2);
  --sidebar-accent-foreground: oklch(0.214 0.009 43.1);
  --sidebar-border: oklch(0.922 0.005 34.3);
  --sidebar-ring: oklch(0.714 0.014 41.2);

  @variant dark {
    --background: oklch(0.147 0.004 49.3);
    --foreground: oklch(0.986 0.002 67.8);
    --card: oklch(0.214 0.009 43.1);
    --card-foreground: oklch(0.986 0.002 67.8);
    --popover: oklch(0.214 0.009 43.1);
    --popover-foreground: oklch(0.986 0.002 67.8);
    --primary: oklch(0.922 0.005 34.3);
    --primary-foreground: oklch(0.214 0.009 43.1);
    --secondary: oklch(0.268 0.011 36.5);
    --secondary-foreground: oklch(0.986 0.002 67.8);
    --muted: oklch(0.268 0.011 36.5);
    --muted-foreground: oklch(0.714 0.014 41.2);
    --accent: oklch(0.268 0.011 36.5);
    --accent-foreground: oklch(0.986 0.002 67.8);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.547 0.021 43.1);
    --chart-1: oklch(0.868 0.007 39.5);
    --chart-2: oklch(0.547 0.021 43.1);
    --chart-3: oklch(0.438 0.017 39.3);
    --chart-4: oklch(0.367 0.016 35.7);
    --chart-5: oklch(0.268 0.011 36.5);
    --sidebar: oklch(0.214 0.009 43.1);
    --sidebar-foreground: oklch(0.986 0.002 67.8);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.986 0.002 67.8);
    --sidebar-accent: oklch(0.268 0.011 36.5);
    --sidebar-accent-foreground: oklch(0.986 0.002 67.8);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.547 0.021 43.1);
  }
}

.theme-amber {
  --primary: oklch(0.555 0.163 48.998);
  --primary-foreground: oklch(0.987 0.022 95.277);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --chart-1: oklch(0.879 0.169 91.605);
  --chart-2: oklch(0.769 0.188 70.08);
  --chart-3: oklch(0.666 0.179 58.318);
  --chart-4: oklch(0.555 0.163 48.998);
  --chart-5: oklch(0.473 0.137 46.201);
  --sidebar-primary: oklch(0.666 0.179 58.318);
  --sidebar-primary-foreground: oklch(0.987 0.022 95.277);

  @variant dark {
    --primary: oklch(0.473 0.137 46.201);
    --primary-foreground: oklch(0.987 0.022 95.277);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --chart-1: oklch(0.879 0.169 91.605);
    --chart-2: oklch(0.769 0.188 70.08);
    --chart-3: oklch(0.666 0.179 58.318);
    --chart-4: oklch(0.555 0.163 48.998);
    --chart-5: oklch(0.473 0.137 46.201);
    --sidebar-primary: oklch(0.769 0.188 70.08);
    --sidebar-primary-foreground: oklch(0.279 0.077 45.635);
  }
}

.theme-blue {
  --primary: oklch(0.488 0.243 264.376);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar-primary: oklch(0.546 0.245 262.881);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);

  @variant dark {
    --primary: oklch(0.424 0.199 265.638);
    --primary-foreground: oklch(0.97 0.014 254.604);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --chart-1: oklch(0.809 0.105 251.813);
    --chart-2: oklch(0.623 0.214 259.815);
    --chart-3: oklch(0.546 0.245 262.881);
    --chart-4: oklch(0.488 0.243 264.376);
    --chart-5: oklch(0.424 0.199 265.638);
    --sidebar-primary: oklch(0.623 0.214 259.815);
    --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  }
}

.theme-cyan {
  --primary: oklch(0.52 0.105 223.128);
  --primary-foreground: oklch(0.984 0.019 200.873);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --chart-1: oklch(0.865 0.127 207.078);
  --chart-2: oklch(0.715 0.143 215.221);
  --chart-3: oklch(0.609 0.126 221.723);
  --chart-4: oklch(0.52 0.105 223.128);
  --chart-5: oklch(0.45 0.085 224.283);
  --sidebar-primary: oklch(0.609 0.126 221.723);
  --sidebar-primary-foreground: oklch(0.984 0.019 200.873);

  @variant dark {
    --primary: oklch(0.45 0.085 224.283);
    --primary-foreground: oklch(0.984 0.019 200.873);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --chart-1: oklch(0.865 0.127 207.078);
    --chart-2: oklch(0.715 0.143 215.221);
    --chart-3: oklch(0.609 0.126 221.723);
    --chart-4: oklch(0.52 0.105 223.128);
    --chart-5: oklch(0.45 0.085 224.283);
    --sidebar-primary: oklch(0.715 0.143 215.221);
    --sidebar-primary-foreground: oklch(0.302 0.056 229.695);
  }
}

.theme-emerald {
  --primary: oklch(0.508 0.118 165.612);
  --primary-foreground: oklch(0.979 0.021 166.113);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --chart-1: oklch(0.845 0.143 164.978);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.596 0.145 163.225);
  --chart-4: oklch(0.508 0.118 165.612);
  --chart-5: oklch(0.432 0.095 166.913);
  --sidebar-primary: oklch(0.596 0.145 163.225);
  --sidebar-primary-foreground: oklch(0.979 0.021 166.113);

  @variant dark {
    --primary: oklch(0.432 0.095 166.913);
    --primary-foreground: oklch(0.979 0.021 166.113);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --chart-1: oklch(0.845 0.143 164.978);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.596 0.145 163.225);
    --chart-4: oklch(0.508 0.118 165.612);
    --chart-5: oklch(0.432 0.095 166.913);
    --sidebar-primary: oklch(0.696 0.17 162.48);
    --sidebar-primary-foreground: oklch(0.262 0.051 172.552);
  }
}

.theme-fuchsia {
  --primary: oklch(0.518 0.253 323.949);
  --primary-foreground: oklch(0.977 0.017 320.058);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --chart-1: oklch(0.833 0.145 321.434);
  --chart-2: oklch(0.667 0.295 322.15);
  --chart-3: oklch(0.591 0.293 322.896);
  --chart-4: oklch(0.518 0.253 323.949);
  --chart-5: oklch(0.452 0.211 324.591);
  --sidebar-primary: oklch(0.591 0.293 322.896);
  --sidebar-primary-foreground: oklch(0.977 0.017 320.058);

  @variant dark {
    --primary: oklch(0.452 0.211 324.591);
    --primary-foreground: oklch(0.977 0.017 320.058);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --chart-1: oklch(0.833 0.145 321.434);
    --chart-2: oklch(0.667 0.295 322.15);
    --chart-3: oklch(0.591 0.293 322.896);
    --chart-4: oklch(0.518 0.253 323.949);
    --chart-5: oklch(0.452 0.211 324.591);
    --sidebar-primary: oklch(0.667 0.295 322.15);
    --sidebar-primary-foreground: oklch(0.977 0.017 320.058);
  }
}

.theme-green {
  --primary: oklch(0.527 0.154 150.069);
  --primary-foreground: oklch(0.982 0.018 155.826);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --chart-1: oklch(0.871 0.15 154.449);
  --chart-2: oklch(0.723 0.219 149.579);
  --chart-3: oklch(0.627 0.194 149.214);
  --chart-4: oklch(0.527 0.154 150.069);
  --chart-5: oklch(0.448 0.119 151.328);
  --sidebar-primary: oklch(0.627 0.194 149.214);
  --sidebar-primary-foreground: oklch(0.982 0.018 155.826);

  @variant dark {
    --primary: oklch(0.448 0.119 151.328);
    --primary-foreground: oklch(0.982 0.018 155.826);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --chart-1: oklch(0.871 0.15 154.449);
    --chart-2: oklch(0.723 0.219 149.579);
    --chart-3: oklch(0.627 0.194 149.214);
    --chart-4: oklch(0.527 0.154 150.069);
    --chart-5: oklch(0.448 0.119 151.328);
    --sidebar-primary: oklch(0.723 0.219 149.579);
    --sidebar-primary-foreground: oklch(0.982 0.018 155.826);
  }
}

.theme-indigo {
  --primary: oklch(0.457 0.24 277.023);
  --primary-foreground: oklch(0.962 0.018 272.314);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --chart-1: oklch(0.785 0.115 274.713);
  --chart-2: oklch(0.585 0.233 277.117);
  --chart-3: oklch(0.511 0.262 276.966);
  --chart-4: oklch(0.457 0.24 277.023);
  --chart-5: oklch(0.398 0.195 277.366);
  --sidebar-primary: oklch(0.511 0.262 276.966);
  --sidebar-primary-foreground: oklch(0.962 0.018 272.314);

  @variant dark {
    --primary: oklch(0.398 0.195 277.366);
    --primary-foreground: oklch(0.962 0.018 272.314);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --chart-1: oklch(0.785 0.115 274.713);
    --chart-2: oklch(0.585 0.233 277.117);
    --chart-3: oklch(0.511 0.262 276.966);
    --chart-4: oklch(0.457 0.24 277.023);
    --chart-5: oklch(0.398 0.195 277.366);
    --sidebar-primary: oklch(0.585 0.233 277.117);
    --sidebar-primary-foreground: oklch(0.962 0.018 272.314);
  }
}

.theme-lime {
  --primary: oklch(0.841 0.238 128.85);
  --primary-foreground: oklch(0.405 0.101 131.063);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --chart-1: oklch(0.897 0.196 126.665);
  --chart-2: oklch(0.768 0.233 130.85);
  --chart-3: oklch(0.648 0.2 131.684);
  --chart-4: oklch(0.532 0.157 131.589);
  --chart-5: oklch(0.453 0.124 130.933);
  --sidebar-primary: oklch(0.648 0.2 131.684);
  --sidebar-primary-foreground: oklch(0.986 0.031 120.757);

  @variant dark {
    --primary: oklch(0.768 0.233 130.85);
    --primary-foreground: oklch(0.405 0.101 131.063);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --chart-1: oklch(0.897 0.196 126.665);
    --chart-2: oklch(0.768 0.233 130.85);
    --chart-3: oklch(0.648 0.2 131.684);
    --chart-4: oklch(0.532 0.157 131.589);
    --chart-5: oklch(0.453 0.124 130.933);
    --sidebar-primary: oklch(0.768 0.233 130.85);
    --sidebar-primary-foreground: oklch(0.274 0.072 132.109);
  }
}

.theme-orange {
  --primary: oklch(0.553 0.195 38.402);
  --primary-foreground: oklch(0.98 0.016 73.684);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --chart-1: oklch(0.837 0.128 66.29);
  --chart-2: oklch(0.705 0.213 47.604);
  --chart-3: oklch(0.646 0.222 41.116);
  --chart-4: oklch(0.553 0.195 38.402);
  --chart-5: oklch(0.47 0.157 37.304);
  --sidebar-primary: oklch(0.646 0.222 41.116);
  --sidebar-primary-foreground: oklch(0.98 0.016 73.684);

  @variant dark {
    --primary: oklch(0.47 0.157 37.304);
    --primary-foreground: oklch(0.98 0.016 73.684);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --chart-1: oklch(0.837 0.128 66.29);
    --chart-2: oklch(0.705 0.213 47.604);
    --chart-3: oklch(0.646 0.222 41.116);
    --chart-4: oklch(0.553 0.195 38.402);
    --chart-5: oklch(0.47 0.157 37.304);
    --sidebar-primary: oklch(0.705 0.213 47.604);
    --sidebar-primary-foreground: oklch(0.98 0.016 73.684);
  }
}

.theme-pink {
  --primary: oklch(0.525 0.223 3.958);
  --primary-foreground: oklch(0.971 0.014 343.198);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --chart-1: oklch(0.823 0.12 346.018);
  --chart-2: oklch(0.656 0.241 354.308);
  --chart-3: oklch(0.592 0.249 0.584);
  --chart-4: oklch(0.525 0.223 3.958);
  --chart-5: oklch(0.459 0.187 3.815);
  --sidebar-primary: oklch(0.592 0.249 0.584);
  --sidebar-primary-foreground: oklch(0.971 0.014 343.198);

  @variant dark {
    --primary: oklch(0.459 0.187 3.815);
    --primary-foreground: oklch(0.971 0.014 343.198);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --chart-1: oklch(0.823 0.12 346.018);
    --chart-2: oklch(0.656 0.241 354.308);
    --chart-3: oklch(0.592 0.249 0.584);
    --chart-4: oklch(0.525 0.223 3.958);
    --chart-5: oklch(0.459 0.187 3.815);
    --sidebar-primary: oklch(0.656 0.241 354.308);
    --sidebar-primary-foreground: oklch(0.971 0.014 343.198);
  }
}

.theme-purple {
  --primary: oklch(0.496 0.265 301.924);
  --primary-foreground: oklch(0.977 0.014 308.299);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --chart-1: oklch(0.827 0.119 306.383);
  --chart-2: oklch(0.627 0.265 303.9);
  --chart-3: oklch(0.558 0.288 302.321);
  --chart-4: oklch(0.496 0.265 301.924);
  --chart-5: oklch(0.438 0.218 303.724);
  --sidebar-primary: oklch(0.558 0.288 302.321);
  --sidebar-primary-foreground: oklch(0.977 0.014 308.299);

  @variant dark {
    --primary: oklch(0.438 0.218 303.724);
    --primary-foreground: oklch(0.977 0.014 308.299);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --chart-1: oklch(0.827 0.119 306.383);
    --chart-2: oklch(0.627 0.265 303.9);
    --chart-3: oklch(0.558 0.288 302.321);
    --chart-4: oklch(0.496 0.265 301.924);
    --chart-5: oklch(0.438 0.218 303.724);
    --sidebar-primary: oklch(0.627 0.265 303.9);
    --sidebar-primary-foreground: oklch(0.977 0.014 308.299);
  }
}

.theme-red {
  --primary: oklch(0.505 0.213 27.518);
  --primary-foreground: oklch(0.971 0.013 17.38);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --chart-1: oklch(0.808 0.114 19.571);
  --chart-2: oklch(0.637 0.237 25.331);
  --chart-3: oklch(0.577 0.245 27.325);
  --chart-4: oklch(0.505 0.213 27.518);
  --chart-5: oklch(0.444 0.177 26.899);
  --sidebar-primary: oklch(0.577 0.245 27.325);
  --sidebar-primary-foreground: oklch(0.971 0.013 17.38);

  @variant dark {
    --primary: oklch(0.444 0.177 26.899);
    --primary-foreground: oklch(0.971 0.013 17.38);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --chart-1: oklch(0.808 0.114 19.571);
    --chart-2: oklch(0.637 0.237 25.331);
    --chart-3: oklch(0.577 0.245 27.325);
    --chart-4: oklch(0.505 0.213 27.518);
    --chart-5: oklch(0.444 0.177 26.899);
    --sidebar-primary: oklch(0.637 0.237 25.331);
    --sidebar-primary-foreground: oklch(0.971 0.013 17.38);
  }
}

.theme-rose {
  --primary: oklch(0.514 0.222 16.935);
  --primary-foreground: oklch(0.969 0.015 12.422);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --chart-1: oklch(0.81 0.117 11.638);
  --chart-2: oklch(0.645 0.246 16.439);
  --chart-3: oklch(0.586 0.253 17.585);
  --chart-4: oklch(0.514 0.222 16.935);
  --chart-5: oklch(0.455 0.188 13.697);
  --sidebar-primary: oklch(0.586 0.253 17.585);
  --sidebar-primary-foreground: oklch(0.969 0.015 12.422);

  @variant dark {
    --primary: oklch(0.455 0.188 13.697);
    --primary-foreground: oklch(0.969 0.015 12.422);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --chart-1: oklch(0.81 0.117 11.638);
    --chart-2: oklch(0.645 0.246 16.439);
    --chart-3: oklch(0.586 0.253 17.585);
    --chart-4: oklch(0.514 0.222 16.935);
    --chart-5: oklch(0.455 0.188 13.697);
    --sidebar: oklch(0.21 0.006 285.885);
    --sidebar-primary: oklch(0.645 0.246 16.439);
    --sidebar-primary-foreground: oklch(0.969 0.015 12.422);
  }
}

.theme-sky {
  --primary: oklch(0.5 0.134 242.749);
  --primary-foreground: oklch(0.977 0.013 236.62);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --chart-1: oklch(0.828 0.111 230.318);
  --chart-2: oklch(0.685 0.169 237.323);
  --chart-3: oklch(0.588 0.158 241.966);
  --chart-4: oklch(0.5 0.134 242.749);
  --chart-5: oklch(0.443 0.11 240.79);
  --sidebar-primary: oklch(0.588 0.158 241.966);
  --sidebar-primary-foreground: oklch(0.977 0.013 236.62);

  @variant dark {
    --primary: oklch(0.443 0.11 240.79);
    --primary-foreground: oklch(0.977 0.013 236.62);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --chart-1: oklch(0.828 0.111 230.318);
    --chart-2: oklch(0.685 0.169 237.323);
    --chart-3: oklch(0.588 0.158 241.966);
    --chart-4: oklch(0.5 0.134 242.749);
    --chart-5: oklch(0.443 0.11 240.79);
    --sidebar-primary: oklch(0.685 0.169 237.323);
    --sidebar-primary-foreground: oklch(0.293 0.066 243.157);
  }
}

.theme-teal {
  --primary: oklch(0.511 0.096 186.391);
  --primary-foreground: oklch(0.984 0.014 180.72);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --chart-1: oklch(0.855 0.138 181.071);
  --chart-2: oklch(0.704 0.14 182.503);
  --chart-3: oklch(0.6 0.118 184.704);
  --chart-4: oklch(0.511 0.096 186.391);
  --chart-5: oklch(0.437 0.078 188.216);
  --sidebar-primary: oklch(0.6 0.118 184.704);
  --sidebar-primary-foreground: oklch(0.984 0.014 180.72);

  @variant dark {
    --primary: oklch(0.437 0.078 188.216);
    --primary-foreground: oklch(0.984 0.014 180.72);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --chart-1: oklch(0.855 0.138 181.071);
    --chart-2: oklch(0.704 0.14 182.503);
    --chart-3: oklch(0.6 0.118 184.704);
    --chart-4: oklch(0.511 0.096 186.391);
    --chart-5: oklch(0.437 0.078 188.216);
    --sidebar-primary: oklch(0.704 0.14 182.503);
    --sidebar-primary-foreground: oklch(0.277 0.046 192.524);
  }
}

.theme-violet {
  --primary: oklch(0.491 0.27 292.581);
  --primary-foreground: oklch(0.969 0.016 293.756);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --chart-1: oklch(0.811 0.111 293.571);
  --chart-2: oklch(0.606 0.25 292.717);
  --chart-3: oklch(0.541 0.281 293.009);
  --chart-4: oklch(0.491 0.27 292.581);
  --chart-5: oklch(0.432 0.232 292.759);
  --sidebar-primary: oklch(0.541 0.281 293.009);
  --sidebar-primary-foreground: oklch(0.969 0.016 293.756);

  @variant dark {
    --primary: oklch(0.432 0.232 292.759);
    --primary-foreground: oklch(0.969 0.016 293.756);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --chart-1: oklch(0.811 0.111 293.571);
    --chart-2: oklch(0.606 0.25 292.717);
    --chart-3: oklch(0.541 0.281 293.009);
    --chart-4: oklch(0.491 0.27 292.581);
    --chart-5: oklch(0.432 0.232 292.759);
    --sidebar-primary: oklch(0.606 0.25 292.717);
    --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
  }
}

.theme-yellow {
  --primary: oklch(0.852 0.199 91.936);
  --primary-foreground: oklch(0.421 0.095 57.708);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --chart-1: oklch(0.905 0.182 98.111);
  --chart-2: oklch(0.795 0.184 86.047);
  --chart-3: oklch(0.681 0.162 75.834);
  --chart-4: oklch(0.554 0.135 66.442);
  --chart-5: oklch(0.476 0.114 61.907);
  --sidebar-primary: oklch(0.681 0.162 75.834);
  --sidebar-primary-foreground: oklch(0.987 0.026 102.212);

  @variant dark {
    --primary: oklch(0.795 0.184 86.047);
    --primary-foreground: oklch(0.421 0.095 57.708);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --chart-1: oklch(0.905 0.182 98.111);
    --chart-2: oklch(0.795 0.184 86.047);
    --chart-3: oklch(0.681 0.162 75.834);
    --chart-4: oklch(0.554 0.135 66.442);
    --chart-5: oklch(0.476 0.114 61.907);
    --sidebar-primary: oklch(0.795 0.184 86.047);
    --sidebar-primary-foreground: oklch(0.987 0.026 102.212);
  }
}

/* [FORCE-UI-GENERATED-END] */
