.theme-blue {
  --font-sans: var(--font-noto-mono);
  --text-sm: 0.85rem;
  --radius: 0rem;
  --spacing: 0.21rem;
  --primary: oklch(0.488 0.243 264.376);
  --primary-foreground: oklch(0.985 0 0);

  .rounded-xl {
    border-radius: var(--radius);
  }

  .shadow-sm {
    box-shadow: none;
  }

  .dark {
    --primary: oklch(0.488 0.243 264.376);
    --primary-foreground: oklch(0.985 0 0);
  }
}

.theme-lime {
  --font-sans: var(--font-instrument);
  --spacing: 0.225rem;
  --primary: oklch(0.532 0.157 131.589);
  --primary-foreground: oklch(0.985 0 0);

  .shadow-sm {
    box-shadow: none;
  }

  @variant dark {
    --primary: oklch(0.532 0.157 131.589);
    --primary-foreground: oklch(0.986 0.031 120.757);
  }
}
