:root,
.theme-custom {
  --font-sans: var(--font-inter);
  --header-height: calc(var(--spacing) * 12 + 1px);
  --primary: oklch(0.546 0.245 262.881);
  --primary-foreground: oklch(0.97 0.014 254.604);

  @media (min-width: 1024px) {
    --radius: 0.6rem;
    --text-lg: 1.05rem;
    --text-base: 0.85rem;
    --text-sm: 0.8rem;
    --spacing: 0.222222rem;
  }

  [data-slot="card"] {
    --spacing: 0.16rem;
  }
}

.dark {
  --primary: oklch(0.623 0.214 259.815);
}
