
.theme-zinc {
  --background: light-dark(hsl(0 0% 100%), hsl(240 10% 3.9%));
  --foreground: light-dark(hsl(240 10% 3.9%), hsl(0 0% 98%));

  --muted: light-dark(hsl(240 4.8% 95.9%), hsl(240 3.7% 15.9%));
  --muted-foreground: light-dark(hsl(240 3.8% 46.1%), hsl(240 5% 64.9%));
  
  --popover: light-dark(hsl(0 0% 100%), hsl(240 10% 3.9%));
  --popover-foreground: light-dark(hsl(240 10% 3.9%), hsl(0 0% 98%));

  --card: light-dark(hsl(0 0% 100%), hsl(240 10% 3.9%));
  --card-foreground: light-dark(hsl(240 10% 3.9%), hsl(0 0% 98%));
  
  --border: light-dark(hsl(240 5.9% 90%), hsl(240 3.7% 15.9%));
  --input: light-dark(hsl(240 5.9% 90%), hsl(240 3.7% 15.9%));

  --primary: light-dark(hsl(240 5.9% 10%), hsl(0 0% 98%));
  --primary-foreground: light-dark(hsl(0 0% 98%), hsl(240 5.9% 10%));

  --secondary: light-dark(hsl(240 4.8% 95.9%), hsl(240 3.7% 15.9%));
  --secondary-foreground: light-dark(hsl(240 5.9% 10%), hsl(0 0% 98%));

  --accent: light-dark(hsl(240 4.8% 95.9%), hsl(240 3.7% 15.9%));
  --accent-foreground: light-dark(hsl(240 5.9% 10%), hsl(0 0% 98%));

  --destructive: light-dark(hsl(0 84.2% 60.2%), hsl(0 62.8% 30.6%));
  --destructive-foreground: light-dark(hsl(0 0% 98%), hsl(0 0% 98%));

  --ring: light-dark(hsl(240 5.9% 10%), hsl(240 4.9% 83.9%));

  --radius: 0.5remrem;
}

.theme-slate {
  --background: light-dark(hsl(0 0% 100%), hsl(222.2 84% 4.9%));
  --foreground: light-dark(hsl(222.2 84% 4.9%), hsl(210 40% 98%));

  --muted: light-dark(hsl(210 40% 96.1%), hsl(217.2 32.6% 17.5%));
  --muted-foreground: light-dark(hsl(215.4 16.3% 46.9%), hsl(215 20.2% 65.1%));
  
  --popover: light-dark(hsl(0 0% 100%), hsl(222.2 84% 4.9%));
  --popover-foreground: light-dark(hsl(222.2 84% 4.9%), hsl(210 40% 98%));

  --card: light-dark(hsl(0 0% 100%), hsl(222.2 84% 4.9%));
  --card-foreground: light-dark(hsl(222.2 84% 4.9%), hsl(210 40% 98%));
  
  --border: light-dark(hsl(214.3 31.8% 91.4%), hsl(217.2 32.6% 17.5%));
  --input: light-dark(hsl(214.3 31.8% 91.4%), hsl(217.2 32.6% 17.5%));

  --primary: light-dark(hsl(222.2 47.4% 11.2%), hsl(210 40% 98%));
  --primary-foreground: light-dark(hsl(210 40% 98%), hsl(222.2 47.4% 11.2%));

  --secondary: light-dark(hsl(210 40% 96.1%), hsl(217.2 32.6% 17.5%));
  --secondary-foreground: light-dark(hsl(222.2 47.4% 11.2%), hsl(210 40% 98%));

  --accent: light-dark(hsl(210 40% 96.1%), hsl(217.2 32.6% 17.5%));
  --accent-foreground: light-dark(hsl(222.2 47.4% 11.2%), hsl(210 40% 98%));

  --destructive: light-dark(hsl(0 84.2% 60.2%), hsl(0 62.8% 30.6%));
  --destructive-foreground: light-dark(hsl(210 40% 98%), hsl(210 40% 98%));

  --ring: light-dark(hsl(222.2 84% 4.9%), hsl(212.7 26.8% 83.9));

  --radius: 0.5remrem;
}

.theme-stone {
  --background: light-dark(hsl(0 0% 100%), hsl(20 14.3% 4.1%));
  --foreground: light-dark(hsl(20 14.3% 4.1%), hsl(60 9.1% 97.8%));

  --muted: light-dark(hsl(60 4.8% 95.9%), hsl(12 6.5% 15.1%));
  --muted-foreground: light-dark(hsl(25 5.3% 44.7%), hsl(24 5.4% 63.9%));
  
  --popover: light-dark(hsl(0 0% 100%), hsl(20 14.3% 4.1%));
  --popover-foreground: light-dark(hsl(20 14.3% 4.1%), hsl(60 9.1% 97.8%));

  --card: light-dark(hsl(0 0% 100%), hsl(20 14.3% 4.1%));
  --card-foreground: light-dark(hsl(20 14.3% 4.1%), hsl(60 9.1% 97.8%));
  
  --border: light-dark(hsl(20 5.9% 90%), hsl(12 6.5% 15.1%));
  --input: light-dark(hsl(20 5.9% 90%), hsl(12 6.5% 15.1%));

  --primary: light-dark(hsl(24 9.8% 10%), hsl(60 9.1% 97.8%));
  --primary-foreground: light-dark(hsl(60 9.1% 97.8%), hsl(24 9.8% 10%));

  --secondary: light-dark(hsl(60 4.8% 95.9%), hsl(12 6.5% 15.1%));
  --secondary-foreground: light-dark(hsl(24 9.8% 10%), hsl(60 9.1% 97.8%));

  --accent: light-dark(hsl(60 4.8% 95.9%), hsl(12 6.5% 15.1%));
  --accent-foreground: light-dark(hsl(24 9.8% 10%), hsl(60 9.1% 97.8%));

  --destructive: light-dark(hsl(0 84.2% 60.2%), hsl(0 62.8% 30.6%));
  --destructive-foreground: light-dark(hsl(60 9.1% 97.8%), hsl(60 9.1% 97.8%));

  --ring: light-dark(hsl(20 14.3% 4.1%), hsl(24 5.7% 82.9%));

  --radius: 0.95remrem;
}

.theme-gray {
  --background: light-dark(hsl(0 0% 100%), hsl(224 71.4% 4.1%));
  --foreground: light-dark(hsl(224 71.4% 4.1%), hsl(210 20% 98%));

  --muted: light-dark(hsl(220 14.3% 95.9%), hsl(215 27.9% 16.9%));
  --muted-foreground: light-dark(hsl(220 8.9% 46.1%), hsl(217.9 10.6% 64.9%));
  
  --popover: light-dark(hsl(0 0% 100%), hsl(224 71.4% 4.1%));
  --popover-foreground: light-dark(hsl(224 71.4% 4.1%), hsl(210 20% 98%));

  --card: light-dark(hsl(0 0% 100%), hsl(224 71.4% 4.1%));
  --card-foreground: light-dark(hsl(224 71.4% 4.1%), hsl(210 20% 98%));
  
  --border: light-dark(hsl(220 13% 91%), hsl(215 27.9% 16.9%));
  --input: light-dark(hsl(220 13% 91%), hsl(215 27.9% 16.9%));

  --primary: light-dark(hsl(220.9 39.3% 11%), hsl(210 20% 98%));
  --primary-foreground: light-dark(hsl(210 20% 98%), hsl(220.9 39.3% 11%));

  --secondary: light-dark(hsl(220 14.3% 95.9%), hsl(215 27.9% 16.9%));
  --secondary-foreground: light-dark(hsl(220.9 39.3% 11%), hsl(210 20% 98%));

  --accent: light-dark(hsl(220 14.3% 95.9%), hsl(215 27.9% 16.9%));
  --accent-foreground: light-dark(hsl(220.9 39.3% 11%), hsl(210 20% 98%));

  --destructive: light-dark(hsl(0 84.2% 60.2%), hsl(0 62.8% 30.6%));
  --destructive-foreground: light-dark(hsl(210 20% 98%), hsl(210 20% 98%));

  --ring: light-dark(hsl(224 71.4% 4.1%), hsl(216 12.2% 83.9%));

  --radius: 0.35remrem;
}

.theme-neutral {
  --background: light-dark(hsl(0 0% 100%), hsl(0 0% 3.9%));
  --foreground: light-dark(hsl(0 0% 3.9%), hsl(0 0% 98%));

  --muted: light-dark(hsl(0 0% 96.1%), hsl(0 0% 14.9%));
  --muted-foreground: light-dark(hsl(0 0% 45.1%), hsl(0 0% 63.9%));
  
  --popover: light-dark(hsl(0 0% 100%), hsl(0 0% 3.9%));
  --popover-foreground: light-dark(hsl(0 0% 3.9%), hsl(0 0% 98%));

  --card: light-dark(hsl(0 0% 100%), hsl(0 0% 3.9%));
  --card-foreground: light-dark(hsl(0 0% 3.9%), hsl(0 0% 98%));
  
  --border: light-dark(hsl(0 0% 89.8%), hsl(0 0% 14.9%));
  --input: light-dark(hsl(0 0% 89.8%), hsl(0 0% 14.9%));

  --primary: light-dark(hsl(0 0% 9%), hsl(0 0% 98%));
  --primary-foreground: light-dark(hsl(0 0% 98%), hsl(0 0% 9%));

  --secondary: light-dark(hsl(0 0% 96.1%), hsl(0 0% 14.9%));
  --secondary-foreground: light-dark(hsl(0 0% 9%), hsl(0 0% 98%));

  --accent: light-dark(hsl(0 0% 96.1%), hsl(0 0% 14.9%));
  --accent-foreground: light-dark(hsl(0 0% 9%), hsl(0 0% 98%));

  --destructive: light-dark(hsl(0 84.2% 60.2%), hsl(0 62.8% 30.6%));
  --destructive-foreground: light-dark(hsl(0 0% 98%), hsl(0 0% 98%));

  --ring: light-dark(hsl(0 0% 3.9%), hsl(0 0% 83.1%));

  --radius: rem;
}

.theme-red {
  --background: light-dark(hsl(0 0% 100%), hsl(0 0% 3.9%));
  --foreground: light-dark(hsl(0 0% 3.9%), hsl(0 0% 98%));

  --muted: light-dark(hsl(0 0% 96.1%), hsl(0 0% 14.9%));
  --muted-foreground: light-dark(hsl(0 0% 45.1%), hsl(0 0% 63.9%));
  
  --popover: light-dark(hsl(0 0% 100%), hsl(0 0% 3.9%));
  --popover-foreground: light-dark(hsl(0 0% 3.9%), hsl(0 0% 98%));

  --card: light-dark(hsl(0 0% 100%), hsl(0 0% 3.9%));
  --card-foreground: light-dark(hsl(0 0% 3.9%), hsl(0 0% 98%));
  
  --border: light-dark(hsl(0 0% 89.8%), hsl(0 0% 14.9%));
  --input: light-dark(hsl(0 0% 89.8%), hsl(0 0% 14.9%));

  --primary: light-dark(hsl(0 72.2% 50.6%), hsl(0 72.2% 50.6%));
  --primary-foreground: light-dark(hsl(0 85.7% 97.3%), hsl(0 85.7% 97.3%));

  --secondary: light-dark(hsl(0 0% 96.1%), hsl(0 0% 14.9%));
  --secondary-foreground: light-dark(hsl(0 0% 9%), hsl(0 0% 98%));

  --accent: light-dark(hsl(0 0% 96.1%), hsl(0 0% 14.9%));
  --accent-foreground: light-dark(hsl(0 0% 9%), hsl(0 0% 98%));

  --destructive: light-dark(hsl(0 84.2% 60.2%), hsl(0 62.8% 30.6%));
  --destructive-foreground: light-dark(hsl(0 0% 98%), hsl(0 0% 98%));

  --ring: light-dark(hsl(0 72.2% 50.6%), hsl(0 72.2% 50.6%));

  --radius: 0.4remrem;
}

.theme-rose {
  --background: light-dark(hsl(0 0% 100%), hsl(20 14.3% 4.1%));
  --foreground: light-dark(hsl(240 10% 3.9%), hsl(0 0% 95%));

  --muted: light-dark(hsl(240 4.8% 95.9%), hsl(0 0% 15%));
  --muted-foreground: light-dark(hsl(240 3.8% 46.1%), hsl(240 5% 64.9%));
  
  --popover: light-dark(hsl(0 0% 100%), hsl(0 0% 9%));
  --popover-foreground: light-dark(hsl(240 10% 3.9%), hsl(0 0% 95%));

  --card: light-dark(hsl(0 0% 100%), hsl(24 9.8% 10%));
  --card-foreground: light-dark(hsl(240 10% 3.9%), hsl(0 0% 95%));
  
  --border: light-dark(hsl(240 5.9% 90%), hsl(240 3.7% 15.9%));
  --input: light-dark(hsl(240 5.9% 90%), hsl(240 3.7% 15.9%));

  --primary: light-dark(hsl(346.8 77.2% 49.8%), hsl(346.8 77.2% 49.8%));
  --primary-foreground: light-dark(hsl(355.7 100% 97.3%), hsl(355.7 100% 97.3%));

  --secondary: light-dark(hsl(240 4.8% 95.9%), hsl(240 3.7% 15.9%));
  --secondary-foreground: light-dark(hsl(240 5.9% 10%), hsl(0 0% 98%));

  --accent: light-dark(hsl(240 4.8% 95.9%), hsl(12 6.5% 15.1%));
  --accent-foreground: light-dark(hsl(240 5.9% 10%), hsl(0 0% 98%));

  --destructive: light-dark(hsl(0 84.2% 60.2%), hsl(0 62.8% 30.6%));
  --destructive-foreground: light-dark(hsl(0 0% 98%), hsl(0 85.7% 97.3%));

  --ring: light-dark(hsl(346.8 77.2% 49.8%), hsl(346.8 77.2% 49.8%));

  --radius: 0.5remrem;
}

.theme-orange {
  --background: light-dark(hsl(0 0% 100%), hsl(20 14.3% 4.1%));
  --foreground: light-dark(hsl(20 14.3% 4.1%), hsl(60 9.1% 97.8%));

  --muted: light-dark(hsl(60 4.8% 95.9%), hsl(12 6.5% 15.1%));
  --muted-foreground: light-dark(hsl(25 5.3% 44.7%), hsl(24 5.4% 63.9%));
  
  --popover: light-dark(hsl(0 0% 100%), hsl(20 14.3% 4.1%));
  --popover-foreground: light-dark(hsl(20 14.3% 4.1%), hsl(60 9.1% 97.8%));

  --card: light-dark(hsl(0 0% 100%), hsl(20 14.3% 4.1%));
  --card-foreground: light-dark(hsl(20 14.3% 4.1%), hsl(60 9.1% 97.8%));
  
  --border: light-dark(hsl(20 5.9% 90%), hsl(12 6.5% 15.1%));
  --input: light-dark(hsl(20 5.9% 90%), hsl(12 6.5% 15.1%));

  --primary: light-dark(hsl(24.6 95% 53.1%), hsl(20.5 90.2% 48.2%));
  --primary-foreground: light-dark(hsl(60 9.1% 97.8%), hsl(60 9.1% 97.8%));

  --secondary: light-dark(hsl(60 4.8% 95.9%), hsl(12 6.5% 15.1%));
  --secondary-foreground: light-dark(hsl(24 9.8% 10%), hsl(60 9.1% 97.8%));

  --accent: light-dark(hsl(60 4.8% 95.9%), hsl(12 6.5% 15.1%));
  --accent-foreground: light-dark(hsl(24 9.8% 10%), hsl(60 9.1% 97.8%));

  --destructive: light-dark(hsl(0 84.2% 60.2%), hsl(0 72.2% 50.6%));
  --destructive-foreground: light-dark(hsl(60 9.1% 97.8%), hsl(60 9.1% 97.8%));

  --ring: light-dark(hsl(24.6 95% 53.1%), hsl(20.5 90.2% 48.2%));

  --radius: 0.95remrem;
}

.theme-green {
  --background: light-dark(hsl(0 0% 100%), hsl(20 14.3% 4.1%));
  --foreground: light-dark(hsl(240 10% 3.9%), hsl(0 0% 95%));

  --muted: light-dark(hsl(240 4.8% 95.9%), hsl(0 0% 15%));
  --muted-foreground: light-dark(hsl(240 3.8% 46.1%), hsl(240 5% 64.9%));
  
  --popover: light-dark(hsl(0 0% 100%), hsl(0 0% 9%));
  --popover-foreground: light-dark(hsl(240 10% 3.9%), hsl(0 0% 95%));

  --card: light-dark(hsl(0 0% 100%), hsl(24 9.8% 10%));
  --card-foreground: light-dark(hsl(240 10% 3.9%), hsl(0 0% 95%));
  
  --border: light-dark(hsl(240 5.9% 90%), hsl(240 3.7% 15.9%));
  --input: light-dark(hsl(240 5.9% 90%), hsl(240 3.7% 15.9%));

  --primary: light-dark(hsl(142.1 76.2% 36.3%), hsl(142.1 70.6% 45.3%));
  --primary-foreground: light-dark(hsl(355.7 100% 97.3%), hsl(144.9 80.4% 10%));

  --secondary: light-dark(hsl(240 4.8% 95.9%), hsl(240 3.7% 15.9%));
  --secondary-foreground: light-dark(hsl(240 5.9% 10%), hsl(0 0% 98%));

  --accent: light-dark(hsl(240 4.8% 95.9%), hsl(12 6.5% 15.1%));
  --accent-foreground: light-dark(hsl(240 5.9% 10%), hsl(0 0% 98%));

  --destructive: light-dark(hsl(0 84.2% 60.2%), hsl(0 62.8% 30.6%));
  --destructive-foreground: light-dark(hsl(0 0% 98%), hsl(0 85.7% 97.3%));

  --ring: light-dark(hsl(142.1 76.2% 36.3%), hsl(142.4 71.8% 29.2%));

  --radius: rem;
}

.theme-blue {
  --background: light-dark(hsl(0 0% 100%), hsl(222.2 84% 4.9%));
  --foreground: light-dark(hsl(222.2 84% 4.9%), hsl(210 40% 98%));

  --muted: light-dark(hsl(210 40% 96.1%), hsl(217.2 32.6% 17.5%));
  --muted-foreground: light-dark(hsl(215.4 16.3% 46.9%), hsl(215 20.2% 65.1%));
  
  --popover: light-dark(hsl(0 0% 100%), hsl(222.2 84% 4.9%));
  --popover-foreground: light-dark(hsl(222.2 84% 4.9%), hsl(210 40% 98%));

  --card: light-dark(hsl(0 0% 100%), hsl(222.2 84% 4.9%));
  --card-foreground: light-dark(hsl(222.2 84% 4.9%), hsl(210 40% 98%));
  
  --border: light-dark(hsl(214.3 31.8% 91.4%), hsl(217.2 32.6% 17.5%));
  --input: light-dark(hsl(214.3 31.8% 91.4%), hsl(217.2 32.6% 17.5%));

  --primary: light-dark(hsl(221.2 83.2% 53.3%), hsl(217.2 91.2% 59.8%));
  --primary-foreground: light-dark(hsl(210 40% 98%), hsl(222.2 47.4% 11.2%));

  --secondary: light-dark(hsl(210 40% 96.1%), hsl(217.2 32.6% 17.5%));
  --secondary-foreground: light-dark(hsl(222.2 47.4% 11.2%), hsl(210 40% 98%));

  --accent: light-dark(hsl(210 40% 96.1%), hsl(217.2 32.6% 17.5%));
  --accent-foreground: light-dark(hsl(222.2 47.4% 11.2%), hsl(210 40% 98%));

  --destructive: light-dark(hsl(0 84.2% 60.2%), hsl(0 62.8% 30.6%));
  --destructive-foreground: light-dark(hsl(210 40% 98%), hsl(210 40% 98%));

  --ring: light-dark(hsl(221.2 83.2% 53.3%), hsl(224.3 76.3% 48%));

  --radius: rem;
}

.theme-yellow {
  --background: light-dark(hsl(0 0% 100%), hsl(20 14.3% 4.1%));
  --foreground: light-dark(hsl(20 14.3% 4.1%), hsl(60 9.1% 97.8%));

  --muted: light-dark(hsl(60 4.8% 95.9%), hsl(12 6.5% 15.1%));
  --muted-foreground: light-dark(hsl(25 5.3% 44.7%), hsl(24 5.4% 63.9%));
  
  --popover: light-dark(hsl(0 0% 100%), hsl(20 14.3% 4.1%));
  --popover-foreground: light-dark(hsl(20 14.3% 4.1%), hsl(60 9.1% 97.8%));

  --card: light-dark(hsl(0 0% 100%), hsl(20 14.3% 4.1%));
  --card-foreground: light-dark(hsl(20 14.3% 4.1%), hsl(60 9.1% 97.8%));
  
  --border: light-dark(hsl(20 5.9% 90%), hsl(12 6.5% 15.1%));
  --input: light-dark(hsl(20 5.9% 90%), hsl(12 6.5% 15.1%));

  --primary: light-dark(hsl(47.9 95.8% 53.1%), hsl(47.9 95.8% 53.1%));
  --primary-foreground: light-dark(hsl(26 83.3% 14.1%), hsl(26 83.3% 14.1%));

  --secondary: light-dark(hsl(60 4.8% 95.9%), hsl(12 6.5% 15.1%));
  --secondary-foreground: light-dark(hsl(24 9.8% 10%), hsl(60 9.1% 97.8%));

  --accent: light-dark(hsl(60 4.8% 95.9%), hsl(12 6.5% 15.1%));
  --accent-foreground: light-dark(hsl(24 9.8% 10%), hsl(60 9.1% 97.8%));

  --destructive: light-dark(hsl(0 84.2% 60.2%), hsl(0 62.8% 30.6%));
  --destructive-foreground: light-dark(hsl(60 9.1% 97.8%), hsl(60 9.1% 97.8%));

  --ring: light-dark(hsl(20 14.3% 4.1%), hsl(35.5 91.7% 32.9%));

  --radius: 0.95remrem;
}

.theme-violet {
  --background: light-dark(hsl(0 0% 100%), hsl(224 71.4% 4.1%));
  --foreground: light-dark(hsl(224 71.4% 4.1%), hsl(210 20% 98%));

  --muted: light-dark(hsl(220 14.3% 95.9%), hsl(215 27.9% 16.9%));
  --muted-foreground: light-dark(hsl(220 8.9% 46.1%), hsl(217.9 10.6% 64.9%));
  
  --popover: light-dark(hsl(0 0% 100%), hsl(224 71.4% 4.1%));
  --popover-foreground: light-dark(hsl(224 71.4% 4.1%), hsl(210 20% 98%));

  --card: light-dark(hsl(0 0% 100%), hsl(224 71.4% 4.1%));
  --card-foreground: light-dark(hsl(224 71.4% 4.1%), hsl(210 20% 98%));
  
  --border: light-dark(hsl(220 13% 91%), hsl(215 27.9% 16.9%));
  --input: light-dark(hsl(220 13% 91%), hsl(215 27.9% 16.9%));

  --primary: light-dark(hsl(262.1 83.3% 57.8%), hsl(263.4 70% 50.4%));
  --primary-foreground: light-dark(hsl(210 20% 98%), hsl(210 20% 98%));

  --secondary: light-dark(hsl(220 14.3% 95.9%), hsl(215 27.9% 16.9%));
  --secondary-foreground: light-dark(hsl(220.9 39.3% 11%), hsl(210 20% 98%));

  --accent: light-dark(hsl(220 14.3% 95.9%), hsl(215 27.9% 16.9%));
  --accent-foreground: light-dark(hsl(220.9 39.3% 11%), hsl(210 20% 98%));

  --destructive: light-dark(hsl(0 84.2% 60.2%), hsl(0 62.8% 30.6%));
  --destructive-foreground: light-dark(hsl(210 20% 98%), hsl(210 20% 98%));

  --ring: light-dark(hsl(262.1 83.3% 57.8%), hsl(263.4 70% 50.4%));

  --radius: rem;
}