<div data-slot="card-action"
     class="@CssUtils.Cn("cn-card-action col-start-2 row-span-2 row-start-1 self-start justify-self-end", Class)"
     @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
