@* Card component - Blazor port of shadcn/ui Card *@

<div data-slot="card" data-size="@Size" class="@ComputedClass" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string Size { get; set; } = "default";
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string ComputedClass => CssUtils.Cn("cn-card group/card flex flex-col", Class);
}
