@* Separator component - Blazor port of shadcn/ui Separator *@

@if (Orientation == "horizontal")
{
    <div data-slot="separator" role="separator" data-orientation="horizontal"
         class="@CssUtils.Cn("shrink-0 bg-border h-px w-full", Class)"
         @attributes="AdditionalAttributes"></div>
}
else
{
    <div data-slot="separator" role="separator" data-orientation="vertical"
         class="@CssUtils.Cn("shrink-0 bg-border w-px self-stretch", Class)"
         @attributes="AdditionalAttributes"></div>
}

@code {
    [Parameter] public string Orientation { get; set; } = "horizontal";
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
